# 1. Sobre o Projeto e Refer√™ncias

## 1.1 Recursos e refer√™ncias que podem ser utilizados

1. [Pasta do Datathon](https://drive.google.com/drive/folders/1Z1j6uzzCOgjB2a6i3Ym1pmJRsasfm7cD)
2. [Colab com fun√ß√µes, plots, cleaners; um helper para an√°lise de dados](https://colab.research.google.com/drive/1YuRRN_j0EymrSUZnM8njWRCL-yY6Ds0f?usp=sharing#scrollTo=cZHJuEAGcU4x)
3. [DATATHON-PASSOS-M√ÅGICOS.ipynb](https://colab.research.google.com/drive/1iq0U4o_I9dfB627xtgFGIfu7GRFahD_u#scrollTo=jj1m78gyRuBO)
4. [Site Pasos M√°gicos](https://pasosmagicos.org.br)

## 1.2 Sobre o Projeto

### 1.2.1 Objetivo üéØ
O grande objetivo do Datathon √© criar uma proposta anal√≠tica dos dados da **Passos M√°gicos**, para demonstrar o impacto que a ONG tem sobre a comunidade que atende. A associa√ß√£o busca instrumentalizar o uso da educa√ß√£o como ferramenta para a mudan√ßa das condi√ß√µes de vida das crian√ßas e jovens em vulnerabilidade social. Com base no _dataset_ de pesquisa extensiva do desenvolvimento educacional no per√≠odo de 2020, 2021 e 2022, ser√° entregue **uma proposta anal√≠tica que demontre os impactos que a ONG **Passos M√°gicos** realizou sobre a performance de estudantes e, levantar eses indicadores de performance. Para demonstrar esses impactos, ser√° criado um _dashboard_ com _storytelling_, destacando dados que podem auxiliar a Passos M√°gicos a tomar as melhores decis√µes com base nos indicadores e conhecer o perfil dos estudantes.**

### 1.2.2 Base de dados üé≤:
A base de dados cont√©m informa√ß√µes educacionais e socioecon√¥micas dos estudantes da **Passos M√°gicos**. Foram disponibilizadas duas bases de dados com as caracter√≠sticas de desenvolvimento educacional e quest√µes socioecon√¥micas dos estudantes e um dicion√°rio de dados com o mapeamento de todas as vari√°veis. Al√©m da base de dados, alguns relat√≥rios de pesquisa realizada pela **Passos M√°gicos** tamb√©m foram disponibilizados para auxiliar no conhecimento do neg√≥cio.

### 1.2.3 Entrega üîó:

- Um _dashboard_ e um relat√≥rio contendo a an√°lise dos dados.
- Subir o projeto em um reposit√≥rio do github e compartilhar o _link_ do projeto na plataforma com os arquivos utilizados e o _link_ do _dashboard_.

# 2. Indicadores Sugeridos

Com base no dicion√°rio de dados fornecido pela Passos M√°gicos, ficou definido que os seguintes indicadores ser√£o utilizados:

**1. Indicador de Desempenho Acad√™mico (INDE)**
- **Dados necess√°rios:** INDE_2020, INDE_2021, INDE_2022.
- **Descri√ß√£o:** O √çndice do Desenvolvimento Educacional (INDE) √© uma m√©trica que combina outros indicadores (IAN, IDA, IEG, IAA, IPS, IPP e IPV) para avaliar o desempenho acad√™mico geral dos alunos ao longo dos anos.

**2. Indicador de Engajamento (IEG)**
- **Dados necess√°rios:** IEG_2020, IEG_2021, IEG_2022.
- **Descri√ß√£o:** M√©dia das notas de engajamento dos alunos, mensurando a participa√ß√£o e envolvimento deles nas atividades.

**3. Indicador de Aprendizagem (IDA)**
- **Dados necess√°rios:** IDA_2020, IDA_2021, IDA_2022.
- **Descri√ß√£o:** M√©dia das notas do indicador de aprendizagem, medindo o progresso acad√™mico dos alunos.

**4. Indicador Psicossocial (IPS)**
- **Dados necess√°rios:** IPS_2020, IPS_2021, IPS_2022.
- **Descri√ß√£o:** M√©dia das notas psicossociais dos alunos, avaliando seu bem-estar emocional e social.

**5. Indicador Psicopedag√≥gico (IPP)**

- **Dados necess√°rios:** IPP_2020, IPP_2021, IPP_2022.
- **Descri√ß√£o:** M√©dia das notas psicopedag√≥gicas dos alunos, refletindo o suporte que receberam nesse aspecto.

**6. Indicador de Autoavalia√ß√£o (IAA)**
- **Dados necess√°rios:** IAA_2020, IAA_2021, IAA_2022.
- **Descri√ß√£o:** M√©dia das notas de autoavalia√ß√£o dos alunos, que refletem sua percep√ß√£o de progresso.

**7. Indicador de Ponto de Virada (IPV)**
- **Dados necess√°rios:** IPV_2020, IPV_2021, IPV_2022.
- **Descri√ß√£o:** M√©dia das notas que indicam o "ponto de virada" ‚Äî um momento de mudan√ßa significativa no desempenho ou comportamento do aluno.

**8. Desempenho em Disciplinas Espec√≠ficas**
- **Dados necess√°rios:** NOTA_PORT_2022, NOTA_MAT_2022, NOTA_ING_2022.
- **Descri√ß√£o:** M√©dias de notas em disciplinas espec√≠ficas, como portugu√™s, matem√°tica e ingl√™s, em 2022.

**9. Classifica√ß√£o de Desempenho (Pedra)**
- **Dados necess√°rios:** PEDRA_2020, PEDRA_2021, PEDRA_2022.
- **Descri√ß√£o:** Classifica√ß√£o dos alunos com base no seu INDE, em n√≠veis como Quartzo, √Ågata, Ametista e Top√°zio.

**10. Frequ√™ncia Escolar e Engajamento**

- **Dados necess√°rios:** FASE_2020, FASE_2021, FASE_2022, TURMA_2020, TURMA_2021, TURMA_2022.
- **Descri√ß√£o:** Dados sobre a fase e turma dos alunos, que podem ser utilizados para medir frequ√™ncia e engajamento ao longo dos anos.

**11. Recomenda√ß√µes Psicopedag√≥gicas**
- **Dados necess√°rios:** REC_PSICO_2021, REC_PSICO_2022.
- **Descri√ß√£o:** Recomenda√ß√µes feitas pela equipe psicopedag√≥gica para acompanhamento e suporte ao aluno.

Esses indicadores oferecem uma vis√£o completa do desenvolvimento acad√™mico e psicossocial dos alunos atendidos pela ONG ao longo dos anos. Eles podem ser combinados para demonstrar o impacto da entidade na evolu√ß√£o dos alunos e destacar √°reas de maior sucesso ou necessidade de interven√ß√£o.

## 2.1 Tabela de Indicadores Sugeridos

| Nome do Campo | Descri√ß√£o | Tipo de Dados |
|---------------|------------|---------------|
| `INDE_2020` / `INDE_2021` / `INDE_2022` | O √çndice do Desenvolvimento Educacional (INDE) √© uma m√©trica que combina outros indicadores (IAN, IDA, IEG, IAA, IPS, IPP e IPV) para avaliar o desempenho acad√™mico geral dos alunos ao longo dos anos. | Num√©rico |
| `IEG_2020` / `IEG_2021` / `IEG_2022` | M√©dia das notas de engajamento dos alunos, mensurando a participa√ß√£o e envolvimento deles nas atividades. | Num√©rico |
| `IDA_2020` / `IDA_2021` / `IDA_2022` | M√©dia das notas do indicador de aprendizagem, medindo o progresso acad√™mico dos alunos. | Num√©rico |
| `IPS_2020` / `IPS_2021` / `IPS_2022` | M√©dia das notas psicossociais dos alunos, avaliando seu bem-estar emocional e social. | Num√©rico |
| `IPP_2020` / `IPP_2021` / `IPP_2022` | M√©dia das notas psicopedag√≥gicas dos alunos, refletindo o suporte que receberam nesse aspecto. | Num√©rico |
| `IAA_2020` / `IAA_2021` / `IAA_2022` | M√©dia das notas de autoavalia√ß√£o dos alunos, que refletem sua percep√ß√£o de progresso. | Num√©rico |
| `IPV_2020` / `IPV_2021` / `IPV_2022` | M√©dia das notas que indicam o "ponto de virada" ‚Äî um momento de mudan√ßa significativa no desempenho ou comportamento do aluno. | Num√©rico |
| `NOTA_PORT_2022` / `NOTA_MAT_2022` / `NOTA_ING_2022` | M√©dias de notas em disciplinas espec√≠ficas, como portugu√™s, matem√°tica e ingl√™s, em 2022. | Num√©rico |
| `PEDRA_2020` / `PEDRA_2021` / `PEDRA_2022` | Classifica√ß√£o dos alunos com base no seu INDE, em n√≠veis como Quartzo, √Ågata, Ametista e Top√°zio. | Texto |
| `FASE_2020` / `FASE_2021` / `FASE_2022` / `TURMA_2020` / `TURMA_2021` / `TURMA_2022` | Dados sobre a fase e turma dos alunos, que podem ser utilizados para medir frequ√™ncia e engajamento ao longo dos anos. | Texto |
| `REC_PSICO_2021` / `REC_PSICO_2022` | Recomenda√ß√µes feitas pela equipe psicopedag√≥gica para acompanhamento e suporte ao aluno. | Texto |

# 3. Desenvolvimento do DataFrame de An√°lise

Atrav√©s do dicion√°rio de dados fornecido pela Passos M√°gicos, foi poss√≠vel identificar as vari√°veis necess√°rias para a cria√ß√£o dos indicadores que ser√£o utilizados para a an√°lise.

Neste momento, o foco √© - dentro das bases fornecidas pela Passos M√°gicos, criar um DataFrame que conetenha as vari√°veis necess√°rias para a an√°lise dos indicadores propostos.

In [1]:
# importa√ß√£o das bibliotecas que ser√£o utilizadas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

## 3.1 Tratamento da _Merged Base_ de `TbAluno`

A base _merged_, se refere √† jun√ß√£o das bases `TbAluno`, `TbAlunoObs`, `TbAlunoProprioRespons√°vel`, `TbAlunoRotinaEducacaoInfantil`, `TbAlunoTurma` e `TbAlunoTurmaHistorico`.

In [10]:
# transforma arquivo .CSV em um Pandas Dataframe
df_alunos_merged = pd.read_csv('bases_e_documental/Base de dados - Passos M√°gicos/TbAluno/Merge/merged_data.csv', sep=',')
df_alunos_merged.head()

,IdAlunoRotinaEducacaoInfantil,IdAluno,IdTurma_x,Data,IdProfessorResponsavel,IdUsuarioResponsavel,IdFormularioRotinaEducacaoInfantil,IdAlunoObs,IdTipoOcorrencia,StImpedimento,DataOcorrencia_x,IdUsuarioRegistro,ObservacaoRegistro,DataLiberacao,IdUsuarioLiberacao,ObservacaoLiberacao,DataInclusao,StExibirInternet,IdProfessorRegistro,DataInicialAtestado,DataFinalAtestado,IdResponsavel_x,IdTurma_y,IdSituacaoAlunoTurma_x,DataSituacaoAtivo,DataSituacaoInativo,IdFaseNotaInicial_x,OrdemChamada,DataHoraEfetivacaoMatricula,IdUsuarioEfetivacaoMatricula,IdAlunoCursoSuperior,ProblemaAutorizadoMatricula,IdUsuarioAutorizacaoMatricula,StAlunoTurmaNaoPermitePParcial,ES_IdCurriculoOptativa,IdResponsavelFinanceiro,IdTipoResponsavelFinanceiro,IdResponsavelSecundario,IdTipoResponsavelSecundario,IdMotivoInativacao,IdEstabEnsinoInativacao,ComentarioInativacao,Comentario,IdPlanoPagamento_PreMatricula,IdPlanoPagamento_Matricula,SituacaoExcecao_IdSituacaoAlunoTurma,SituacaoExcecao_IdUsuario,SituacaoExcecao_DataRegistro,SituacaoExcecao_Comentario,IdAlunoCurso,IdEventoTipoInscricao,RMOnline_TextoPersonalizado_Confirmacao,StProcessamento_FichaInscricao,StProcessamento_ConfirmacaoReservaOnline,StProcessamento_InscricaoEmTurma,IdAlunoTurma,NomeAluno,NomeAbreviado,IdUnidade,Sexo,EstadoCivil,DataNascimento,IdPai,IdMae,IdResponsavel_y,IdTipoResponsavel,Naturalidade,Nacionalidade,TipoSangue,PlanoSaude,Alergia,Medicamento,IdEstabelecimentoEnsinoAnterior,IdReligiao,AnoConclusao,CorRaca,StDeficienciaCegueira,StDeficienciaBaixaVisao,StDeficienciaSurdez,StDeficienciaAuditiva,StDeficienciaFisica,StDeficienciaSurdoCegueira,StDeficienciaMultipla,StDeficienciaMental,_IdResponsavel_CadastroVinculado,StFalecido,EnsinoMedio_IdEstabelecimentoEnsino,EnsinoMedio_AnoConclusao,StDeficienciaAutismoInfantil,StDeficienciaSindromeAsperger,StDeficienciaSindromeRett,StDeficienciaTrastornoDesintegrativo,StDeficienciaAltasHabilidades,NomeCivil,StAppComunicacao_Sincronizado,IdTipoResponsavelPai,IdTipoResponsavelMae,StRecursoAuxilioLedor,StRecursoAuxilioTranscricao,StRecursoGuiaInterprete,StRecursoTradutorInterpreteDeLibras,StRecursoLeituraLabial,StRecursoMaterialDidaticoProvaBraille,StRecursoProvaAmpliada,StRecursoProvaSuperampliada,StRecursoCdComAudio,StRecursoLinguaPortuguesaSegundaLingua,StRecursoProvaEmVideo,StPermiteUsoImagem,StEstrangeiro,Unnamed: 55,DataOcorrencia_y,IdTurma,IdSituacaoAlunoTurma_y,IdFaseNotaInicial_y,IdUsuario
0,16139,727,231,2021-08-24 00:00:00,11.0,NaN,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,NaN,NaN,NaN,2023-05-15 17:09:00,False,NaN,NaN,NaN,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,NaN,1,2021-08-20 00:00:00,NaN,NaN,NaN,NaN,False,NaN,615.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734,Aluno 724,NaN,1.0,M,5.0,2001-07-23 03:00:00,NaN,NaN,615.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,2021-08-20 17:44:09.803000,231,1.0,NaN,15
1,16139,727,231,2021-08-24 00:00:00,11.0,NaN,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,NaN,NaN,NaN,2023-05-15 17:09:00,False,NaN,NaN,NaN,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,NaN,1,2021-08-20 00:00:00,NaN,NaN,NaN,NaN,False,NaN,615.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734,Aluno 724,NaN,1.0,M,5.0,2001-07-23 03:00:00,NaN,NaN,615.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,2021-09-22 12:25:38.363000,142,1.0,NaN,14
2,16139,727,231,2021-08-24 00:00:00,11.0,NaN,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,NaN,NaN,NaN,2023-05-15 17:09:00,False,NaN,NaN,NaN,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,NaN,1,2021-08-20 00:00:00,NaN,NaN,NaN,NaN,False,NaN,615.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734,Aluno 724,NaN,1.0,M,5.0,2001-07-23 03:00:00,NaN,NaN,615.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,2021-12-28 15:14:53.953000,142,9.0,NaN,15
3,16139,727,231,2021-08-24 00:00:00,11.0,NaN,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,NaN,NaN,NaN,2023-05-15 17:09:00,False,NaN,NaN,NaN,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,NaN,1,2021-08-20 00:00:00,NaN,NaN,NaN,NaN,False,NaN,615.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734,Aluno 724,NaN,1.0,M,5.0,2001-07-23 03:00:00,NaN,NaN,615.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,2021-12-28 15:21:27.383000,231,9.0,NaN,15
4,16139,727,231,2021-08-24 00:00:00,11.0,NaN,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,NaN,NaN,NaN,2023-05-15 17:09:00,False,NaN,NaN,NaN,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,NaN,1,2021-08-20 00:00:00,NaN,NaN,NaN,NaN,False,NaN,615.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734,Aluno 724,NaN,1.0,M,5.0,2001-07-23 03:00:00,NaN,NaN,615.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,2022-02-09 14:53:07.403000,198,1.0,NaN,16

In [11]:
df_alunos_merged.shape

(49089, 116)

In [12]:
# Obter as informa√ß√µes do DataFrame
df_alunos_merged.info(buf=None, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49089 entries, 0 to 49088
Data columns (total 116 columns):
 #    Column                                    Dtype
---   ------                                    -----
 0    IdAlunoRotinaEducacaoInfantil             int64
 1    IdAluno                                   int64
 2    IdTurma_x                                 int64
 3    Data                                      object
 4    IdProfessorResponsavel                    float64
 5    IdUsuarioResponsavel                      float64
 6    IdFormularioRotinaEducacaoInfantil        int64
 7    IdAlunoObs                                int64
 8    IdTipoOcorrencia                          int64
 9    StImpedimento                             bool
 10   DataOcorrencia_x                          object
 11   IdUsuarioRegistro                         int64
 12   ObservacaoRegistro                        object
 13   DataLiberacao                             float64
 14   IdUsuarioLiberacao                        float64
 15   ObservacaoLiberacao                       float64
 16   DataInclusao                              object
 17   StExibirInternet                          bool
 18   IdProfessorRegistro                       float64
 19   DataInicialAtestado                       float64
 20   DataFinalAtestado                         float64
 21   IdResponsavel_x                           int64
 22   IdTurma_y                                 int64
 23   IdSituacaoAlunoTurma_x                    int64
 24   DataSituacaoAtivo                         object
 25   DataSituacaoInativo                       object
 26   IdFaseNotaInicial_x                       float64
 27   OrdemChamada                              int64
 28   DataHoraEfetivacaoMatricula               object
 29   IdUsuarioEfetivacaoMatricula              float64
 30   IdAlunoCursoSuperior                      float64
 31   ProblemaAutorizadoMatricula               object
 32   IdUsuarioAutorizacaoMatricula             float64
 33   StAlunoTurmaNaoPermitePParcial            bool
 34   ES_IdCurriculoOptativa                    float64
 35   IdResponsavelFinanceiro                   float64
 36   IdTipoResponsavelFinanceiro               float64
 37   IdResponsavelSecundario                   float64
 38   IdTipoResponsavelSecundario               float64
 39   IdMotivoInativacao                        float64
 40   IdEstabEnsinoInativacao                   float64
 41   ComentarioInativacao                      float64
 42   Comentario                                float64
 43   IdPlanoPagamento_PreMatricula             float64
 44   IdPlanoPagamento_Matricula                float64
 45   SituacaoExcecao_IdSituacaoAlunoTurma      float64
 46   SituacaoExcecao_IdUsuario                 float64
 47   SituacaoExcecao_DataRegistro              float64
 48   SituacaoExcecao_Comentario                float64
 49   IdAlunoCurso                              float64
 50   IdEventoTipoInscricao                     float64
 51   RMOnline_TextoPersonalizado_Confirmacao   float64
 52   StProcessamento_FichaInscricao            float64
 53   StProcessamento_ConfirmacaoReservaOnline  float64
 54   StProcessamento_InscricaoEmTurma          float64
 55   IdAlunoTurma                              int64
 56   NomeAluno                                 object
 57   NomeAbreviado                             float64
 58   IdUnidade                                 float64
 59   Sexo                                      object
 60   EstadoCivil                               float64
 61   DataNascimento                            object
 62   IdPai                                     float64
 63   IdMae                                     float64
 64   IdResponsavel_y                           float64
 65   IdTipoResponsavel                         int64
 66   Naturalidade                              float64
 67   Nacionalidade                             float64
 68   TipoSangue                                float64
 69   PlanoSaude                                float64
 70   Alergia                                   float64
 71   Medicamento                               float64
 72   IdEstabelecimentoEnsinoAnterior           float64
 73   IdReligiao                                float64
 74   AnoConclusao                              float64
 75   CorRaca                                   object
 76   StDeficienciaCegueira                     bool
 77   StDeficienciaBaixaVisao                   bool
 78   StDeficienciaSurdez                       bool
 79   StDeficienciaAuditiva                     bool
 80   StDeficienciaFisica                       bool
 81   StDeficienciaSurdoCegueira                bool
 82   StDeficienciaMultipla                     bool
 83   StDeficienciaMental                       bool
 84   _IdResponsavel_CadastroVinculado          float64
 85   StFalecido                                bool
 86   EnsinoMedio_IdEstabelecimentoEnsino       float64
 87   EnsinoMedio_AnoConclusao                  float64
 88   StDeficienciaAutismoInfantil              bool
 89   StDeficienciaSindromeAsperger             bool
 90   StDeficienciaSindromeRett                 bool
 91   StDeficienciaTrastornoDesintegrativo      bool
 92   StDeficienciaAltasHabilidades             bool
 93   NomeCivil                                 float64
 94   StAppComunicacao_Sincronizado             bool
 95   IdTipoResponsavelPai                      float64
 96   IdTipoResponsavelMae                      float64
 97   StRecursoAuxilioLedor                     bool
 98   StRecursoAuxilioTranscricao               bool
 99   StRecursoGuiaInterprete                   bool
 100  StRecursoTradutorInterpreteDeLibras       bool
 101  StRecursoLeituraLabial                    bool
 102  StRecursoMaterialDidaticoProvaBraille     bool
 103  StRecursoProvaAmpliada                    bool
 104  StRecursoProvaSuperampliada               bool
 105  StRecursoCdComAudio                       bool
 106  StRecursoLinguaPortuguesaSegundaLingua    bool
 107  StRecursoProvaEmVideo                     bool
 108  StPermiteUsoImagem                        bool
 109  StEstrangeiro                             bool
 110  Unnamed: 55                               float64
 111  DataOcorrencia_y                          object
 112  IdTurma                                   int64
 113  IdSituacaoAlunoTurma_y                    float64
 114  IdFaseNotaInicial_y                       float64
 115  IdUsuario                                 int64
dtypes: bool(31), float64(57), int64(15), object(13)
memory usage: 33.3+ MB

In [13]:
# porcetagem de colunas nulas
df_alunos_merged.isnull().sum()/df_alunos_merged.shape[0]*100

IdAlunoRotinaEducacaoInfantil      0.000000
IdAluno                            0.000000
IdTurma_x                          0.000000
Data                               0.000000
IdProfessorResponsavel             0.000000
                                    ...
DataOcorrencia_y                   0.000000
IdTurma                            0.000000
IdSituacaoAlunoTurma_y            15.488195
IdFaseNotaInicial_y              100.000000
IdUsuario                          0.000000
Length: 116, dtype: float64

In [14]:
# deleta colunas que possuam qualquer valor nulo
df_alunos_merged = df_alunos_merged.dropna(axis=1)
df_alunos_merged.head()

,IdAlunoRotinaEducacaoInfantil,IdAluno,IdTurma_x,Data,IdProfessorResponsavel,IdFormularioRotinaEducacaoInfantil,IdAlunoObs,IdTipoOcorrencia,StImpedimento,DataOcorrencia_x,IdUsuarioRegistro,ObservacaoRegistro,DataInclusao,StExibirInternet,IdResponsavel_x,IdTurma_y,IdSituacaoAlunoTurma_x,DataSituacaoAtivo,OrdemChamada,DataHoraEfetivacaoMatricula,StAlunoTurmaNaoPermitePParcial,IdResponsavelFinanceiro,IdTipoResponsavelFinanceiro,IdPlanoPagamento_Matricula,IdAlunoTurma,NomeAluno,IdUnidade,Sexo,EstadoCivil,DataNascimento,IdResponsavel_y,IdTipoResponsavel,CorRaca,StDeficienciaCegueira,StDeficienciaBaixaVisao,StDeficienciaSurdez,StDeficienciaAuditiva,StDeficienciaFisica,StDeficienciaSurdoCegueira,StDeficienciaMultipla,StDeficienciaMental,StFalecido,StDeficienciaAutismoInfantil,StDeficienciaSindromeAsperger,StDeficienciaSindromeRett,StDeficienciaTrastornoDesintegrativo,StDeficienciaAltasHabilidades,StAppComunicacao_Sincronizado,StRecursoAuxilioLedor,StRecursoAuxilioTranscricao,StRecursoGuiaInterprete,StRecursoTradutorInterpreteDeLibras,StRecursoLeituraLabial,StRecursoMaterialDidaticoProvaBraille,StRecursoProvaAmpliada,StRecursoProvaSuperampliada,StRecursoCdComAudio,StRecursoLinguaPortuguesaSegundaLingua,StRecursoProvaEmVideo,StPermiteUsoImagem,StEstrangeiro,DataOcorrencia_y,IdTurma,IdUsuario
0,16139,727,231,2021-08-24 00:00:00,11.0,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,2023-05-15 17:09:00,False,615,231,9,2021-01-01 00:00:00,1,2021-08-20 00:00:00,False,615.0,4.0,8.0,734,Aluno 724,1.0,M,5.0,2001-07-23 03:00:00,615.0,4,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2021-08-20 17:44:09.803000,231,15
1,16139,727,231,2021-08-24 00:00:00,11.0,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,2023-05-15 17:09:00,False,615,231,9,2021-01-01 00:00:00,1,2021-08-20 00:00:00,False,615.0,4.0,8.0,734,Aluno 724,1.0,M,5.0,2001-07-23 03:00:00,615.0,4,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2021-09-22 12:25:38.363000,142,14
2,16139,727,231,2021-08-24 00:00:00,11.0,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,2023-05-15 17:09:00,False,615,231,9,2021-01-01 00:00:00,1,2021-08-20 00:00:00,False,615.0,4.0,8.0,734,Aluno 724,1.0,M,5.0,2001-07-23 03:00:00,615.0,4,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2021-12-28 15:14:53.953000,142,15
3,16139,727,231,2021-08-24 00:00:00,11.0,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,2023-05-15 17:09:00,False,615,231,9,2021-01-01 00:00:00,1,2021-08-20 00:00:00,False,615.0,4.0,8.0,734,Aluno 724,1.0,M,5.0,2001-07-23 03:00:00,615.0,4,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2021-12-28 15:21:27.383000,231,15
4,16139,727,231,2021-08-24 00:00:00,11.0,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,2023-05-15 17:09:00,False,615,231,9,2021-01-01 00:00:00,1,2021-08-20 00:00:00,False,615.0,4.0,8.0,734,Aluno 724,1.0,M,5.0,2001-07-23 03:00:00,615.0,4,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2022-02-09 14:53:07.403000,198,16

In [15]:
# visualiza todas as informa√ß√µes da base
df_alunos_merged.info(verbose=True, buf=None)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49089 entries, 0 to 49088
Data columns (total 64 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   IdAlunoRotinaEducacaoInfantil           49089 non-null  int64
 1   IdAluno                                 49089 non-null  int64
 2   IdTurma_x                               49089 non-null  int64
 3   Data                                    49089 non-null  object
 4   IdProfessorResponsavel                  49089 non-null  float64
 5   IdFormularioRotinaEducacaoInfantil      49089 non-null  int64
 6   IdAlunoObs                              49089 non-null  int64
 7   IdTipoOcorrencia                        49089 non-null  int64
 8   StImpedimento                           49089 non-null  bool
 9   DataOcorrencia_x                        49089 non-null  object
 10  IdUsuarioRegistro                       49089 non-null  int64
 11  ObservacaoRegistro                      49089 non-null  object
 12  DataInclusao                            49089 non-null  object
 13  StExibirInternet                        49089 non-null  bool
 14  IdResponsavel_x                         49089 non-null  int64
 15  IdTurma_y                               49089 non-null  int64
 16  IdSituacaoAlunoTurma_x                  49089 non-null  int64
 17  DataSituacaoAtivo                       49089 non-null  object
 18  OrdemChamada                            49089 non-null  int64
 19  DataHoraEfetivacaoMatricula             49089 non-null  object
 20  StAlunoTurmaNaoPermitePParcial          49089 non-null  bool
 21  IdResponsavelFinanceiro                 49089 non-null  float64
 22  IdTipoResponsavelFinanceiro             49089 non-null  float64
 23  IdPlanoPagamento_Matricula              49089 non-null  float64
 24  IdAlunoTurma                            49089 non-null  int64
 25  NomeAluno                               49089 non-null  object
 26  IdUnidade                               49089 non-null  float64
 27  Sexo                                    49089 non-null  object
 28  EstadoCivil                             49089 non-null  float64
 29  DataNascimento                          49089 non-null  object
 30  IdResponsavel_y                         49089 non-null  float64
 31  IdTipoResponsavel                       49089 non-null  int64
 32  CorRaca                                 49089 non-null  object
 33  StDeficienciaCegueira                   49089 non-null  bool
 34  StDeficienciaBaixaVisao                 49089 non-null  bool
 35  StDeficienciaSurdez                     49089 non-null  bool
 36  StDeficienciaAuditiva                   49089 non-null  bool
 37  StDeficienciaFisica                     49089 non-null  bool
 38  StDeficienciaSurdoCegueira              49089 non-null  bool
 39  StDeficienciaMultipla                   49089 non-null  bool
 40  StDeficienciaMental                     49089 non-null  bool
 41  StFalecido                              49089 non-null  bool
 42  StDeficienciaAutismoInfantil            49089 non-null  bool
 43  StDeficienciaSindromeAsperger           49089 non-null  bool
 44  StDeficienciaSindromeRett               49089 non-null  bool
 45  StDeficienciaTrastornoDesintegrativo    49089 non-null  bool
 46  StDeficienciaAltasHabilidades           49089 non-null  bool
 47  StAppComunicacao_Sincronizado           49089 non-null  bool
 48  StRecursoAuxilioLedor                   49089 non-null  bool
 49  StRecursoAuxilioTranscricao             49089 non-null  bool
 50  StRecursoGuiaInterprete                 49089 non-null  bool
 51  StRecursoTradutorInterpreteDeLibras     49089 non-null  bool
 52  StRecursoLeituraLabial                  49089 non-null  bool
 53  StRecursoMaterialDidaticoProvaBraille   49089 non-null  bool
 54  StRecursoProvaAmpliada                  49089 non-null  bool
 55  StRecursoProvaSuperampliada             49089 non-null  bool
 56  StRecursoCdComAudio                     49089 non-null  bool
 57  StRecursoLinguaPortuguesaSegundaLingua  49089 non-null  bool
 58  StRecursoProvaEmVideo                   49089 non-null  bool
 59  StPermiteUsoImagem                      49089 non-null  bool
 60  StEstrangeiro                           49089 non-null  bool
 61  DataOcorrencia_y                        49089 non-null  object
 62  IdTurma                                 49089 non-null  int64
 63  IdUsuario                               49089 non-null  int64
dtypes: bool(31), float64(7), int64(15), object(11)
memory usage: 13.8+ MB

In [16]:
# recria df com colunas que ser√£o utilizadas
df_alunos_merged = df_alunos_merged[['IdAluno', 'IdResponsavelFinanceiro', 'IdTipoResponsavelFinanceiro', 'IdUnidade', 'Sexo', 'EstadoCivil', 'DataNascimento', 'IdTipoResponsavel', 'CorRaca']]
df_alunos_merged.head()

,IdAluno,IdResponsavelFinanceiro,IdTipoResponsavelFinanceiro,IdUnidade,Sexo,EstadoCivil,DataNascimento,IdTipoResponsavel,CorRaca
0,727,615.0,4.0,1.0,M,5.0,2001-07-23 03:00:00,4,B
1,727,615.0,4.0,1.0,M,5.0,2001-07-23 03:00:00,4,B
2,727,615.0,4.0,1.0,M,5.0,2001-07-23 03:00:00,4,B
3,727,615.0,4.0,1.0,M,5.0,2001-07-23 03:00:00,4,B
4,727,615.0,4.0,1.0,M,5.0,2001-07-23 03:00:00,4,B

In [17]:
# substituir c√≥digos do Tipo de Respons√°vel por descri√ß√µes
# Dicion√°rio de mapeamento para IdTipoRespons√°vel
mapeamento_tipo_respons√°vel = {
  1 : 'Pai',
  2 : 'M√£e',
  3 : 'O pr√≥prio',
  4: 'Outros',
  5 : 'Tia',
  6 : 'Padrasto',
  7 : 'Madrasta',
  8 : 'Av√≥',
  9 : 'Av√¥',
  10 : 'Tio',
  11 : 'Indefinido',
  12 : 'Outros Respons√°veis',
  13 : 'mae',
  14 : 'Irm√£o', 
  15 : 'IRM'
}

# substitui os valoees na coluna IdTipoResponsavvel com valores leg√≠veis
df_alunos_merged['IdTipoResponsavel'] = df_alunos_merged['IdTipoResponsavel'].map(mapeamento_tipo_respons√°vel)

df_alunos_merged.head()

,IdAluno,IdResponsavelFinanceiro,IdTipoResponsavelFinanceiro,IdUnidade,Sexo,EstadoCivil,DataNascimento,IdTipoResponsavel,CorRaca
0,727,615.0,4.0,1.0,M,5.0,2001-07-23 03:00:00,Outros,B
1,727,615.0,4.0,1.0,M,5.0,2001-07-23 03:00:00,Outros,B
2,727,615.0,4.0,1.0,M,5.0,2001-07-23 03:00:00,Outros,B
3,727,615.0,4.0,1.0,M,5.0,2001-07-23 03:00:00,Outros,B
4,727,615.0,4.0,1.0,M,5.0,2001-07-23 03:00:00,Outros,B

In [18]:
df_alunos_merged.shape

(49089, 9)

In [19]:
#dropa colunas que n√£o encontramos mapeamento
df_alunos_merged.drop('IdTipoResponsavelFinanceiro', axis=1, inplace=True)
df_alunos_merged.drop('IdResponsavelFinanceiro', axis=1, inplace=True)
df_alunos_merged.drop('IdUnidade', axis=1, inplace=True)

In [20]:
df_alunos_merged.head()

   IdAluno Sexo  EstadoCivil       DataNascimento IdTipoResponsavel CorRaca
0      727    M          5.0  2001-07-23 03:00:00            Outros       B
1      727    M          5.0  2001-07-23 03:00:00            Outros       B
2      727    M          5.0  2001-07-23 03:00:00            Outros       B
3      727    M          5.0  2001-07-23 03:00:00            Outros       B
4      727    M          5.0  2001-07-23 03:00:00            Outros       B

In [21]:
# substitui c√≥digo da coluna Sexo por valores leg√≠veis
mapeamento_sexo = {
  'M' : 'Masculino',
  'F' : 'Feminino',
}

# substitui os valoees na coluna Sexo com valores leg√≠veis
df_alunos_merged['Sexo'] = df_alunos_merged['Sexo'].map(mapeamento_sexo)

df_alunos_merged.head()

,IdAluno,Sexo,EstadoCivil,DataNascimento,IdTipoResponsavel,CorRaca
0,727,Masculino,5.0,2001-07-23 03:00:00,Outros,B
1,727,Masculino,5.0,2001-07-23 03:00:00,Outros,B
2,727,Masculino,5.0,2001-07-23 03:00:00,Outros,B
3,727,Masculino,5.0,2001-07-23 03:00:00,Outros,B
4,727,Masculino,5.0,2001-07-23 03:00:00,Outros,B

In [22]:
# dropa coluna Estado Civil
df_alunos_merged.drop('EstadoCivil', axis=1, inplace=True)
df_alunos_merged

       IdAluno       Sexo       DataNascimento IdTipoResponsavel CorRaca
0          727  Masculino  2001-07-23 03:00:00            Outros       B
1          727  Masculino  2001-07-23 03:00:00            Outros       B
2          727  Masculino  2001-07-23 03:00:00            Outros       B
3          727  Masculino  2001-07-23 03:00:00            Outros       B
4          727  Masculino  2001-07-23 03:00:00            Outros       B
...        ...        ...                  ...               ...     ...
49084     1310   Feminino  2001-10-15 00:00:00         O pr√≥prio       B
49085     1310   Feminino  2001-10-15 00:00:00         O pr√≥prio       B
49086     1310   Feminino  2001-10-15 00:00:00         O pr√≥prio       B
49087     1310   Feminino  2001-10-15 00:00:00         O pr√≥prio       B
49088     1310   Feminino  2001-10-15 00:00:00         O pr√≥prio       B

[49089 rows x 5 columns]

In [23]:
# substitui c√≥digo da coluna Ra√ßa por valores leg√≠veis
mapeamento_cor_raca = {
  'B' : 'Branco',
  'P' : 'Preto',
  'R' : 'N√£o especificado',
}

# substitui os valoees na coluna Sexo com valores leg√≠veis
df_alunos_merged['CorRaca'] = df_alunos_merged['CorRaca'].map(mapeamento_cor_raca)

df_alunos_merged.head()

   IdAluno       Sexo       DataNascimento IdTipoResponsavel CorRaca
0      727  Masculino  2001-07-23 03:00:00            Outros  Branco
1      727  Masculino  2001-07-23 03:00:00            Outros  Branco
2      727  Masculino  2001-07-23 03:00:00            Outros  Branco
3      727  Masculino  2001-07-23 03:00:00            Outros  Branco
4      727  Masculino  2001-07-23 03:00:00            Outros  Branco

In [24]:
df_alunos_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49089 entries, 0 to 49088
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   IdAluno            49089 non-null  int64
 1   Sexo               49089 non-null  object
 2   DataNascimento     49089 non-null  object
 3   IdTipoResponsavel  49089 non-null  object
 4   CorRaca            49089 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.9+ MB

In [25]:
# altera coluna DataNascimento de object para datetime; somente data
df_alunos_merged['DataNascimento'] = pd.to_datetime(df_alunos_merged['DataNascimento'].dt.date)

df_alunos_merged

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
df_alunos_merged.info()

## 3.2 Tratamento da Base de `TbFase`

Essa base √© a jun√ß√£o das base `TbFaseNota`, `TbFaseNotaAluno` e `TbFaseNotaDisciplinaTurma` e `TbFaseNotaOrigemDestino`.

In [ ]:
df_fase = pd.read_csv('bases_e_documental/Base de dados - Passos M√°gicos/TbFase/Merge/merged_data.csv', sep=',')
df_fase.head()

In [ ]:
df_fase.shape

In [ ]:
df_fase.info(buf=None, verbose=True)

In [ ]:
# traz porcentagem de colunas nulas
df_fase.isnull().sum()/df_fase.shape[0]*100

In [ ]:
# deleta qualquer coluna com informa√ß√µes nulas
df_fase.drop(['ConteudoProgramatico', 'IdFormulaNota', 'ValorArredondamentoMedia', 'IdFaseNotaReprovacao', 'IdFormulaFalta', 'DataInicioExibicao', 'NumeroSemanasLetivas', 'IdFormulaAprovacaoFrequencia', 'DataInicialPeriodoAula', 'DataFinalPeriodoAula', 'DataLimiteDigitacaoNota', 'NumeroDiasLetivos', 'TipoDispensaAutomatica', 'SituacaoReprovadoFrequencia', 'SituacaoAprovado', 'SituacaoReprovado', 'Nota01', 'Nota02', 'Nota03', 'Nota04', 'Nota05', 'Nota06', 'Nota07', 'Nota08', 'Nota09', 'Nota10', '_Nota01', 'NotaFase', 'QuantAulasDadas'], axis=1, inplace=True)
df_fase

In [ ]:
# traz porcentagem de colunas nulas
df_fase.isnull().sum()/df_fase.shape[0]*100

## 3.3 Tratamento Base Hist√≥rico

A base Hist√≥rico √© composta pelo merge das seguintes bases: `TbHistorico`, `TbHistoricoNotas`.

In [ ]:
df_historico = pd.read_csv('bases_e_documental\Base de dados - Passos M√°gicos\TbHistorico\Merge\merged_data.csv', sep=',')
df_historico.head()

In [ ]:
df_historico.shape

In [ ]:
# porcentagem de valores nulos por coluna
df_historico.isnull().sum()/df_historico.shape[0]*100

In [38]:
# deleta qualquer coluna com valores nulos
df_historico.dropna(axis=1, inplace=True)

In [ ]:
df_historico.isnull().sum()/df_historico.shape[0]*100

In [ ]:
df_historico

In [ ]:
df_historico.info()

In [ ]:
df_historico.shape

## 3.4 Tratamento da Base Municipios

In [ ]:
df_municipio = pd.read_csv('bases_e_documental/Base de dados - Passos M√°gicos/Outras tabelas/TbMunicipio.csv', sep=',')
df_municipio.head()

In [ ]:
df_municipio.shape

In [ ]:
df_municipio.info()

In [ ]:
df_municipio.isnull().sum()

# 2. Miss√£o da ONG
- Transformar vidas atrav√©s da educa√ß√£o.

### Vis√£o da ONG
- √â viver em um Brasil no qual todas as crian√ßas e jovens t√™m iguais oportunidades para realizarem seus sonhos e s√£o agentes transformadores de suas pr√≥prias vidas.

### Valores da ONG

- Empatia
- Amor ao aprendizado
- Poder em acreditar em si e no pr√≥ximo
- Pertencimento
- Gratid√£
- Busca pelo saber
- Educa√ß√£o que transforma e ajuda e transformar
- Aprender a aprender

A ONG foca, n√£o somente na estrutura necess√°ria para a educa√ß√£o de crian√ßas em vulnerabilidade como tamb√©m no apoio ao entorno desta crian√ßa, buscando proporcionar melhoria de vida e oportunidades tamb√©m para a fam√≠lia.

O projeto **Passos M√°gicos** atrav√©s de suas interven√ß√µes na comunidade que atende, conseguiu cobrir 5 dos 17 compromissos propostos pela [ONU para a Agenda 2030](https://www.globalgoals.org/take-action/?id=4):

- **ODS 1**: Erradica√ß√£o da pobreza
- **ODS 4**: Educa√ß√£o de qualidade
- **ODS 5**: Igualdade de g√™nero
- **ODS 8:** Trabalho decente e crescimento econ√¥mico
- **ODS 10**: Redu√ß√£o das desigualdades