# 1. Sobre o Projeto e Refer√™ncias

## 1.1 Recursos e refer√™ncias que podem ser utilizados

1. [Pasta do Datathon](https://drive.google.com/drive/folders/1Z1j6uzzCOgjB2a6i3Ym1pmJRsasfm7cD)
2. [Colab com fun√ß√µes, plots, cleaners; um helper para an√°lise de dados](https://colab.research.google.com/drive/1YuRRN_j0EymrSUZnM8njWRCL-yY6Ds0f?usp=sharing#scrollTo=cZHJuEAGcU4x)
3. [DATATHON-PASSOS-M√ÅGICOS.ipynb](https://colab.research.google.com/drive/1iq0U4o_I9dfB627xtgFGIfu7GRFahD_u#scrollTo=jj1m78gyRuBO)
4. [Site Pasos M√°gicos](https://pasosmagicos.org.br)

## 1.2 Sobre o Projeto

### 1.2.1 Objetivo üéØ
O grande objetivo do Datathon √© criar uma proposta anal√≠tica dos dados da **Passos M√°gicos**, para demonstrar o impacto que a ONG tem sobre a comunidade que atende. A associa√ß√£o busca instrumentalizar o uso da educa√ß√£o como ferramenta para a mudan√ßa das condi√ß√µes de vida das crian√ßas e jovens em vulnerabilidade social. Com base no _dataset_ de pesquisa extensiva do desenvolvimento educacional no per√≠odo de 2020, 2021 e 2022, ser√° entregue **uma proposta anal√≠tica que demontre os impactos que a ONG **Passos M√°gicos** realizou sobre a performance de estudantes e, levantar eses indicadores de performance. Para demonstrar esses impactos, ser√° criado um _dashboard_ com _storytelling_, destacando dados que podem auxiliar a Passos M√°gicos a tomar as melhores decis√µes com base nos indicadores e conhecer o perfil dos estudantes.**

### 1.2.2 Base de dados üé≤:
A base de dados cont√©m informa√ß√µes educacionais e socioecon√¥micas dos estudantes da **Passos M√°gicos**. Foram disponibilizadas duas bases de dados com as caracter√≠sticas de desenvolvimento educacional e quest√µes socioecon√¥micas dos estudantes e um dicion√°rio de dados com o mapeamento de todas as vari√°veis. Al√©m da base de dados, alguns relat√≥rios de pesquisa realizada pela **Passos M√°gicos** tamb√©m foram disponibilizados para auxiliar no conhecimento do neg√≥cio.

### 1.2.3 Entrega üîó:

- Um _dashboard_ e um relat√≥rio contendo a an√°lise dos dados.
- Subir o projeto em um reposit√≥rio do github e compartilhar o _link_ do projeto na plataforma com os arquivos utilizados e o _link_ do _dashboard_.

# 1. Entendimento Inicial dos Dados

In [1]:
# importa√ß√£o das bibliotecas que ser√£o utilizadas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

In [2]:
# transforma arquivo .CSV em um Pandas Dataframe
df = pd.read_csv('bases_e_documental/pede_passos_dataset_fiap.csv', sep=';')
df.head()

,INSTITUICAO_ENSINO_ALUNO_2020,NOME,IDADE_ALUNO_2020,ANOS_PM_2020,FASE_TURMA_2020,PONTO_VIRADA_2020,INDE_2020,INDE_CONCEITO_2020,PEDRA_2020,DESTAQUE_IEG_2020,...,IPP_2022,REC_AVA_1_2022,REC_AVA_2_2022,REC_AVA_3_2022,REC_AVA_4_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022,NIVEL_IDEAL_2022
0,Escola P√∫blica,ALUNO-1,11,2,2H,N√£o,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,ALUNO-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.625000,Mantido na Fase + Bolsa,Mantido na Fase atual,NaN,NaN,Sim,N√£o,7.916665,5.0,Fase 2 (5¬∫ e 6¬∫ ano)
2,Escola P√∫blica,ALUNO-3,12,2,3H,N√£o,7.856389666666666,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Escola P√∫blica,ALUNO-4,10,2,1D,N√£o,5.076252,D,Quartzo,Ponto a melhorar em 2021: Melhorar a sua entre...,...,6.250000,Promovido de Fase,Mantido na Fase atual,Promovido de Fase,NaN,N√£o,N√£o,8.055553,5.0,Fase 3 (7¬∫ e 8¬∫ ano)
4,Escola P√∫blica,ALUNO-5,10,1,2M,N√£o,8.077085,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,6.458333,Mantido na Fase atual,Promovido de Fase,Mantido na Fase atual,NaN,N√£o,N√£o,7.833337,5.0,Fase 3 (7¬∫ e 8¬∫ ano)

In [3]:
# configura a exibi√ß√£o de todas as colunas do df, sem limites de n√∫mero de coluna
pd.set_option('display.max_columns', None)
df.head()

,INSTITUICAO_ENSINO_ALUNO_2020,NOME,IDADE_ALUNO_2020,ANOS_PM_2020,FASE_TURMA_2020,PONTO_VIRADA_2020,INDE_2020,INDE_CONCEITO_2020,PEDRA_2020,DESTAQUE_IEG_2020,DESTAQUE_IDA_2020,DESTAQUE_IPV_2020,IAA_2020,IEG_2020,IPS_2020,IDA_2020,IPP_2020,IPV_2020,IAN_2020,FASE_2021,TURMA_2021,INSTITUICAO_ENSINO_ALUNO_2021,SINALIZADOR_INGRESSANTE_2021,PEDRA_2021,INDE_2021,IAA_2021,IEG_2021,IPS_2021,IDA_2021,IPP_2021,REC_EQUIPE_1_2021,REC_EQUIPE_2_2021,REC_EQUIPE_3_2021,REC_EQUIPE_4_2021,PONTO_VIRADA_2021,IPV_2021,IAN_2021,NIVEL_IDEAL_2021,DEFASAGEM_2021,FASE_2022,TURMA_2022,ANO_INGRESSO_2022,BOLSISTA_2022,INDE_2022,CG_2022,CF_2022,CT_2022,PEDRA_2022,DESTAQUE_IEG_2022,DESTAQUE_IDA_2022,DESTAQUE_IPV_2022,IAA_2022,IEG_2022,IPS_2022,IDA_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,QTD_AVAL_2022,IPP_2022,REC_AVA_1_2022,REC_AVA_2_2022,REC_AVA_3_2022,REC_AVA_4_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022,NIVEL_IDEAL_2022
0,Escola P√∫blica,ALUNO-1,11,2,2H,N√£o,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,Seu destaque em 2020: A sua boa integra√ß√£o aos...,8.500020000000001,8.7,7.5,7,5.9375,7.75,10,2.0,G,Rede Decis√£o,Ingressante,Ametista,7.319,7.5,6.3,6.9,8.8,7.7,Promovido de Fase,Promovido de Fase,Mantido na Fase atual,N√£o avaliado,N√£o,8.1,5.0,N√≠vel 3 (7o e 8o ano),-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,ALUNO-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,K,2022.0,N√£o,7.675509,245.0,66.0,6.0,Ametista,Destaque: A sua boa entrega das li√ß√µes de casa.,Destaque: As suas boas notas na Passos M√°gicos.,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...,10.00002,7.581705,7.5,8.816667,8.200000,9.433333,NaN,2.0,5.625000,Mantido na Fase + Bolsa,Mantido na Fase atual,NaN,NaN,Sim,N√£o,7.916665,5.0,Fase 2 (5¬∫ e 6¬∫ ano)
2,Escola P√∫blica,ALUNO-3,12,2,3H,N√£o,7.856389666666666,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,Seu destaque em 2020: A sua boa integra√ß√£o aos...,7.91667,8.9,7.5,5.5,8.125,8.111113333333334,10,3.0,F,Escola P√∫blica,Veterano,Ametista,7.021,7.1,6.9,6.3,5.6,7.3,Promovido de Fase,Promovido de Fase,Mantido na Fase atual,N√£o avaliado,N√£o,7.2,10.0,N√≠vel 3 (7o e 8o ano),0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Escola P√∫blica,ALUNO-4,10,2,1D,N√£o,5.076252,D,Quartzo,Ponto a melhorar em 2021: Melhorar a sua entre...,Ponto a melhorar em 2021: Empenhar-se mais nas...,Ponto a melhorar em 2021: Integrar-se mais aos...,8.000020000000001,4.1,6.875,0,7.1875,7.75,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,J,2022.0,N√£o,7.117065,451.0,69.0,3.0,Ametista,Destaque: A sua boa entrega das li√ß√µes de casa.,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...,10.00002,8.071429,7.5,5.083333,5.000000,5.166667,NaN,3.0,6.250000,Promovido de Fase,Mantido na Fase atual,Promovido de Fase,NaN,N√£o,N√£o,8.055553,5.0,Fase 3 (7¬∫ e 8¬∫ ano)
4,Escola P√∫blica,ALUNO-5,10,1,2M,N√£o,8.077085,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Seu destaque em 2020: As suas boas notas na Pa...,Seu destaque em 2020: A sua boa integra√ß√£o aos...,7.50002,8,7.5,7.5,8.4375,8.166665,10,2.0,L,Escola P√∫blica,Veterano,Ametista,7.399,7.4,7.5,7.5,5.4,8.5,Promovido de Fase,Mantido na Fase atual,Mantido na Fase atual,N√£o avaliado,N√£o,7.4,10.0,N√≠vel 2 (5o e 6o ano),0.0,2.0,L,2019.0,N√£o,7.232336,415.0,61.0,12.0,Ametista,Destaque: A sua boa entrega das li√ß√µes de casa.,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...,6.41668,8.557505,7.5,7.083333,6.666667,7.500000,NaN,3.0,6.458333,Mantido na Fase atual,Promovido de Fase,Mantido na Fase atual,NaN,N√£o,N√£o,7.833337,5.0,Fase 3 (7¬∫ e 8¬∫ ano)

In [4]:
df.shape

(1349, 69)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 69 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INSTITUICAO_ENSINO_ALUNO_2020  728 non-null    object
 1   NOME                           1349 non-null   object
 2   IDADE_ALUNO_2020               728 non-null    object
 3   ANOS_PM_2020                   728 non-null    object
 4   FASE_TURMA_2020                728 non-null    object
 5   PONTO_VIRADA_2020              702 non-null    object
 6   INDE_2020                      728 non-null    object
 7   INDE_CONCEITO_2020             728 non-null    object
 8   PEDRA_2020                     728 non-null    object
 9   DESTAQUE_IEG_2020              728 non-null    object
 10  DESTAQUE_IDA_2020              728 non-null    object
 11  DESTAQUE_IPV_2020              703 non-null    object
 12  IAA_2020                       728 non-null    object
 13  IEG_2020                       728 non-null    object
 14  IPS_2020                       728 non-null    object
 15  IDA_2020                       728 non-null    object
 16  IPP_2020                       728 non-null    object
 17  IPV_2020                       728 non-null    object
 18  IAN_2020                       728 non-null    object
 19  FASE_2021                      686 non-null    float64
 20  TURMA_2021                     686 non-null    object
 21  INSTITUICAO_ENSINO_ALUNO_2021  686 non-null    object
 22  SINALIZADOR_INGRESSANTE_2021   686 non-null    object
 23  PEDRA_2021                     686 non-null    object
 24  INDE_2021                      686 non-null    object
 25  IAA_2021                       686 non-null    float64
 26  IEG_2021                       686 non-null    float64
 27  IPS_2021                       686 non-null    float64
 28  IDA_2021                       686 non-null    float64
 29  IPP_2021                       686 non-null    float64
 30  REC_EQUIPE_1_2021              686 non-null    object
 31  REC_EQUIPE_2_2021              686 non-null    object
 32  REC_EQUIPE_3_2021              686 non-null    object
 33  REC_EQUIPE_4_2021              686 non-null    object
 34  PONTO_VIRADA_2021              686 non-null    object
 35  IPV_2021                       686 non-null    float64
 36  IAN_2021                       686 non-null    float64
 37  NIVEL_IDEAL_2021               686 non-null    object
 38  DEFASAGEM_2021                 686 non-null    float64
 39  FASE_2022                      862 non-null    float64
 40  TURMA_2022                     862 non-null    object
 41  ANO_INGRESSO_2022              862 non-null    float64
 42  BOLSISTA_2022                  862 non-null    object
 43  INDE_2022                      862 non-null    float64
 44  CG_2022                        862 non-null    float64
 45  CF_2022                        862 non-null    float64
 46  CT_2022                        862 non-null    float64
 47  PEDRA_2022                     862 non-null    object
 48  DESTAQUE_IEG_2022              862 non-null    object
 49  DESTAQUE_IDA_2022              862 non-null    object
 50  DESTAQUE_IPV_2022              862 non-null    object
 51  IAA_2022                       862 non-null    float64
 52  IEG_2022                       862 non-null    float64
 53  IPS_2022                       862 non-null    float64
 54  IDA_2022                       862 non-null    float64
 55  NOTA_PORT_2022                 860 non-null    float64
 56  NOTA_MAT_2022                  860 non-null    float64
 57  NOTA_ING_2022                  285 non-null    float64
 58  QTD_AVAL_2022                  862 non-null    float64
 59  IPP_2022                       862 non-null    float64
 60  REC_AVA_1_2022                 862 non-null    object
 61  REC_AVA_2_2022                 862 non-null    object
 62  REC_AVA_3_2022                 626 non-null    object
 63  REC_AVA_4_2022                 285 non-null    object
 64  INDICADO_BOLSA_2022            862 non-null    object
 65  PONTO_VIRADA_2022              862 non-null    object
 66  IPV_2022                       862 non-null    float64
 67  IAN_2022                       862 non-null    float64
 68  NIVEL_IDEAL_2022               862 non-null    object
dtypes: float64(26), object(43)
memory usage: 727.3+ KB

### 1.1 Dados utilizados 

Para determinar como os dados ser√£o utilizados para a cria√ß√£o do _dashboard_ e do relat√≥rio, foram definidos alguns indicadores que podem ser extra√≠dos da base:

| Nome do Campo | Descri√ß√£o | Tipo de Dados |
|---------------|------------|---------------|
| `INDE_2020` / `INDE_2021` / `INDE_2022` | O √çndice do Desenvolvimento Educacional (INDE) √© uma m√©trica que combina outros indicadores (IAN, IDA, IEG, IAA, IPS, IPP e IPV) para avaliar o desempenho acad√™mico geral dos alunos ao longo dos anos. | Num√©rico |
| `IEG_2020` / `IEG_2021` / `IEG_2022` | M√©dia das notas de engajamento dos alunos, mensurando a participa√ß√£o e envolvimento deles nas atividades. | Num√©rico |
| `IDA_2020` / `IDA_2021` / `IDA_2022` | M√©dia das notas do indicador de aprendizagem, medindo o progresso acad√™mico dos alunos. | Num√©rico |
| `IPS_2020` / `IPS_2021` / `IPS_2022` | M√©dia das notas psicossociais dos alunos, avaliando seu bem-estar emocional e social. | Num√©rico |
| `IPP_2020` / `IPP_2021` / `IPP_2022` | M√©dia das notas psicopedag√≥gicas dos alunos, refletindo o suporte que receberam nesse aspecto. | Num√©rico |
| `IAA_2020` / `IAA_2021` / `IAA_2022` | M√©dia das notas de autoavalia√ß√£o dos alunos, que refletem sua percep√ß√£o de progresso. | Num√©rico |
| `IPV_2020` / `IPV_2021` / `IPV_2022` | M√©dia das notas que indicam o "ponto de virada" ‚Äî um momento de mudan√ßa significativa no desempenho ou comportamento do aluno. | Num√©rico |
| `NOTA_PORT_2022` / `NOTA_MAT_2022` / `NOTA_ING_2022` | M√©dias de notas em disciplinas espec√≠ficas, como portugu√™s, matem√°tica e ingl√™s, em 2022. | Num√©rico |
| `PEDRA_2020` / `PEDRA_2021` / `PEDRA_2022` | Classifica√ß√£o dos alunos com base no seu INDE, em n√≠veis como Quartzo, √Ågata, Ametista e Top√°zio. | Texto |
| `FASE_2020` / `FASE_2021` / `FASE_2022` / `TURMA_2020` / `TURMA_2021` / `TURMA_2022` | Dados sobre a fase e turma dos alunos, que podem ser utilizados para medir frequ√™ncia e engajamento ao longo dos anos. | Texto |

#### 1.1.2 Tratamento da Base Princial

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 69 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INSTITUICAO_ENSINO_ALUNO_2020  728 non-null    object
 1   NOME                           1349 non-null   object
 2   IDADE_ALUNO_2020               728 non-null    object
 3   ANOS_PM_2020                   728 non-null    object
 4   FASE_TURMA_2020                728 non-null    object
 5   PONTO_VIRADA_2020              702 non-null    object
 6   INDE_2020                      728 non-null    object
 7   INDE_CONCEITO_2020             728 non-null    object
 8   PEDRA_2020                     728 non-null    object
 9   DESTAQUE_IEG_2020              728 non-null    object
 10  DESTAQUE_IDA_2020              728 non-null    object
 11  DESTAQUE_IPV_2020              703 non-null    object
 12  IAA_2020                       728 non-null    object
 13  IEG_2020                       728 non-null    object
 14  IPS_2020                       728 non-null    object
 15  IDA_2020                       728 non-null    object
 16  IPP_2020                       728 non-null    object
 17  IPV_2020                       728 non-null    object
 18  IAN_2020                       728 non-null    object
 19  FASE_2021                      686 non-null    float64
 20  TURMA_2021                     686 non-null    object
 21  INSTITUICAO_ENSINO_ALUNO_2021  686 non-null    object
 22  SINALIZADOR_INGRESSANTE_2021   686 non-null    object
 23  PEDRA_2021                     686 non-null    object
 24  INDE_2021                      686 non-null    object
 25  IAA_2021                       686 non-null    float64
 26  IEG_2021                       686 non-null    float64
 27  IPS_2021                       686 non-null    float64
 28  IDA_2021                       686 non-null    float64
 29  IPP_2021                       686 non-null    float64
 30  REC_EQUIPE_1_2021              686 non-null    object
 31  REC_EQUIPE_2_2021              686 non-null    object
 32  REC_EQUIPE_3_2021              686 non-null    object
 33  REC_EQUIPE_4_2021              686 non-null    object
 34  PONTO_VIRADA_2021              686 non-null    object
 35  IPV_2021                       686 non-null    float64
 36  IAN_2021                       686 non-null    float64
 37  NIVEL_IDEAL_2021               686 non-null    object
 38  DEFASAGEM_2021                 686 non-null    float64
 39  FASE_2022                      862 non-null    float64
 40  TURMA_2022                     862 non-null    object
 41  ANO_INGRESSO_2022              862 non-null    float64
 42  BOLSISTA_2022                  862 non-null    object
 43  INDE_2022                      862 non-null    float64
 44  CG_2022                        862 non-null    float64
 45  CF_2022                        862 non-null    float64
 46  CT_2022                        862 non-null    float64
 47  PEDRA_2022                     862 non-null    object
 48  DESTAQUE_IEG_2022              862 non-null    object
 49  DESTAQUE_IDA_2022              862 non-null    object
 50  DESTAQUE_IPV_2022              862 non-null    object
 51  IAA_2022                       862 non-null    float64
 52  IEG_2022                       862 non-null    float64
 53  IPS_2022                       862 non-null    float64
 54  IDA_2022                       862 non-null    float64
 55  NOTA_PORT_2022                 860 non-null    float64
 56  NOTA_MAT_2022                  860 non-null    float64
 57  NOTA_ING_2022                  285 non-null    float64
 58  QTD_AVAL_2022                  862 non-null    float64
 59  IPP_2022                       862 non-null    float64
 60  REC_AVA_1_2022                 862 non-null    object
 61  REC_AVA_2_2022                 862 non-null    object
 62  REC_AVA_3_2022                 626 non-null    object
 63  REC_AVA_4_2022                 285 non-null    object
 64  INDICADO_BOLSA_2022            862 non-null    object
 65  PONTO_VIRADA_2022              862 non-null    object
 66  IPV_2022                       862 non-null    float64
 67  IAN_2022                       862 non-null    float64
 68  NIVEL_IDEAL_2022               862 non-null    object
dtypes: float64(26), object(43)
memory usage: 727.3+ KB

In [7]:
# Concatenar as colunas FASE_2021 e TURMA_2021
df['FASE_TURMA_2021'] = df['FASE_2021'].astype(str) + df['TURMA_2021'].astype(str)

# Exibir o DataFrame atualizado
print(df[['FASE_2021', 'TURMA_2021', 'FASE_TURMA_2021']])

      FASE_2021 TURMA_2021 FASE_TURMA_2021
0           2.0          G            2.0G
1           NaN        NaN          nannan
2           3.0          F            3.0F
3           NaN        NaN          nannan
4           2.0          L            2.0L
...         ...        ...             ...
1344        0.0          L            0.0L
1345        NaN        NaN          nannan
1346        NaN        NaN          nannan
1347        3.0          J            3.0J
1348        NaN        NaN          nannan

[1349 rows x 3 columns]

In [8]:
# Concatenar as colunas FASE_2021 e TURMA_2021
df['FASE_TURMA_2022'] = df['FASE_2022'].astype(str) + df['TURMA_2022'].astype(str)

# Exibir o DataFrame atualizado
print(df[['FASE_2022', 'TURMA_2022', 'FASE_TURMA_2022']])

      FASE_2022 TURMA_2022 FASE_TURMA_2022
0           NaN        NaN          nannan
1           0.0          K            0.0K
2           NaN        NaN          nannan
3           2.0          J            2.0J
4           2.0          L            2.0L
...         ...        ...             ...
1344        NaN        NaN          nannan
1345        0.0          U            0.0U
1346        NaN        NaN          nannan
1347        4.0          P            4.0P
1348        3.0          M            3.0M

[1349 rows x 3 columns]

In [9]:
df_dados_selecionados = df[['INDE_2020', 'INDE_2021', 'INDE_2022','IEG_2020', 'IEG_2021', 'IEG_2022','IDA_2020', 'IDA_2021', 'IDA_2022','IPS_2020', 'IPS_2021', 'IPS_2022','IPP_2020', 'IPP_2021', 'IPP_2022','IAA_2020', 'IAA_2021', 'IAA_2022','IPV_2020', 'IPV_2021', 'IPV_2022','NOTA_PORT_2022', 'NOTA_MAT_2022', 'NOTA_ING_2022','PEDRA_2020', 'PEDRA_2021', 'PEDRA_2022','FASE_TURMA_2020', 'FASE_TURMA_2021', 'FASE_TURMA_2022']]

In [10]:
df_dados_selecionados.head()

,INDE_2020,INDE_2021,INDE_2022,IEG_2020,IEG_2021,IEG_2022,IDA_2020,IDA_2021,IDA_2022,IPS_2020,IPS_2021,IPS_2022,IPP_2020,IPP_2021,IPP_2022,IAA_2020,IAA_2021,IAA_2022,IPV_2020,IPV_2021,IPV_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,PEDRA_2020,PEDRA_2021,PEDRA_2022,FASE_TURMA_2020,FASE_TURMA_2021,FASE_TURMA_2022
0,7.883752,7.319,NaN,8.7,6.3,NaN,7,8.8,NaN,7.5,6.9,NaN,5.9375,7.7,NaN,8.500020000000001,7.5,NaN,7.75,8.1,NaN,NaN,NaN,NaN,Ametista,Ametista,NaN,2H,2.0G,nannan
1,NaN,NaN,7.675509,NaN,NaN,7.581705,NaN,NaN,8.816667,NaN,NaN,7.5,NaN,NaN,5.625000,NaN,NaN,10.00002,NaN,NaN,7.916665,8.200000,9.433333,NaN,NaN,NaN,Ametista,NaN,nannan,0.0K
2,7.856389666666666,7.021,NaN,8.9,6.9,NaN,5.5,5.6,NaN,7.5,6.3,NaN,8.125,7.3,NaN,7.91667,7.1,NaN,8.111113333333334,7.2,NaN,NaN,NaN,NaN,Ametista,Ametista,NaN,3H,3.0F,nannan
3,5.076252,NaN,7.117065,4.1,NaN,8.071429,0,NaN,5.083333,6.875,NaN,7.5,7.1875,NaN,6.250000,8.000020000000001,NaN,10.00002,7.75,NaN,8.055553,5.000000,5.166667,NaN,Quartzo,NaN,Ametista,1D,nannan,2.0J
4,8.077085,7.399,7.232336,8,7.5,8.557505,7.5,5.4,7.083333,7.5,7.5,7.5,8.4375,8.5,6.458333,7.50002,7.4,6.41668,8.166665,7.4,7.833337,6.666667,7.500000,NaN,Ametista,Ametista,Ametista,2M,2.0L,2.0L

In [11]:
df_dados_selecionados.shape

(1349, 30)

In [12]:
df_dados_selecionados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   INDE_2020        728 non-null    object
 1   INDE_2021        686 non-null    object
 2   INDE_2022        862 non-null    float64
 3   IEG_2020         728 non-null    object
 4   IEG_2021         686 non-null    float64
 5   IEG_2022         862 non-null    float64
 6   IDA_2020         728 non-null    object
 7   IDA_2021         686 non-null    float64
 8   IDA_2022         862 non-null    float64
 9   IPS_2020         728 non-null    object
 10  IPS_2021         686 non-null    float64
 11  IPS_2022         862 non-null    float64
 12  IPP_2020         728 non-null    object
 13  IPP_2021         686 non-null    float64
 14  IPP_2022         862 non-null    float64
 15  IAA_2020         728 non-null    object
 16  IAA_2021         686 non-null    float64
 17  IAA_2022         862 non-null    float64
 18  IPV_2020         728 non-null    object
 19  IPV_2021         686 non-null    float64
 20  IPV_2022         862 non-null    float64
 21  NOTA_PORT_2022   860 non-null    float64
 22  NOTA_MAT_2022    860 non-null    float64
 23  NOTA_ING_2022    285 non-null    float64
 24  PEDRA_2020       728 non-null    object
 25  PEDRA_2021       686 non-null    object
 26  PEDRA_2022       862 non-null    object
 27  FASE_TURMA_2020  728 non-null    object
 28  FASE_TURMA_2021  1349 non-null   object
 29  FASE_TURMA_2022  1349 non-null   object
dtypes: float64(16), object(14)
memory usage: 316.3+ KB

In [13]:
# 'INDE_2020', 'INDE_2021', 'IEG_2020', 'IDA_2020', 'IPS_2020', 'IPP_2020', 'IAA_202', 'IPV_2020'
# transforma valores object em float, em colunas espec√≠ficas
columns_to_convert = ['INDE_2020', 'INDE_2021', 'IEG_2020', 'IDA_2020', 'IPS_2020', 'IPP_2020', 'IAA_2020', 'IPV_2020']
df_dados_selecionados[columns_to_convert] = df_dados_selecionados[columns_to_convert].apply(pd.to_numeric, errors='coerce')

C:\Users\Elitebook\AppData\Local\Temp\ipykernel_17012\4109102769.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dados_selecionados[columns_to_convert] = df_dados_selecionados[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [14]:
df_dados_selecionados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   INDE_2020        727 non-null    float64
 1   INDE_2021        684 non-null    float64
 2   INDE_2022        862 non-null    float64
 3   IEG_2020         727 non-null    float64
 4   IEG_2021         686 non-null    float64
 5   IEG_2022         862 non-null    float64
 6   IDA_2020         727 non-null    float64
 7   IDA_2021         686 non-null    float64
 8   IDA_2022         862 non-null    float64
 9   IPS_2020         727 non-null    float64
 10  IPS_2021         686 non-null    float64
 11  IPS_2022         862 non-null    float64
 12  IPP_2020         727 non-null    float64
 13  IPP_2021         686 non-null    float64
 14  IPP_2022         862 non-null    float64
 15  IAA_2020         727 non-null    float64
 16  IAA_2021         686 non-null    float64
 17  IAA_2022         862 non-null    float64
 18  IPV_2020         727 non-null    float64
 19  IPV_2021         686 non-null    float64
 20  IPV_2022         862 non-null    float64
 21  NOTA_PORT_2022   860 non-null    float64
 22  NOTA_MAT_2022    860 non-null    float64
 23  NOTA_ING_2022    285 non-null    float64
 24  PEDRA_2020       728 non-null    object
 25  PEDRA_2021       686 non-null    object
 26  PEDRA_2022       862 non-null    object
 27  FASE_TURMA_2020  728 non-null    object
 28  FASE_TURMA_2021  1349 non-null   object
 29  FASE_TURMA_2022  1349 non-null   object
dtypes: float64(24), object(6)
memory usage: 316.3+ KB

In [15]:
# transform os floats para que traga duas casas decimais
pd.options.display.float_format = '{:.2f}'.format

In [16]:
df_dados_selecionados.head()

,INDE_2020,INDE_2021,INDE_2022,IEG_2020,IEG_2021,IEG_2022,IDA_2020,IDA_2021,IDA_2022,IPS_2020,IPS_2021,IPS_2022,IPP_2020,IPP_2021,IPP_2022,IAA_2020,IAA_2021,IAA_2022,IPV_2020,IPV_2021,IPV_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,PEDRA_2020,PEDRA_2021,PEDRA_2022,FASE_TURMA_2020,FASE_TURMA_2021,FASE_TURMA_2022
0,7.88,7.32,NaN,8.70,6.30,NaN,7.00,8.80,NaN,7.50,6.90,NaN,5.94,7.70,NaN,8.50,7.50,NaN,7.75,8.10,NaN,NaN,NaN,NaN,Ametista,Ametista,NaN,2H,2.0G,nannan
1,NaN,NaN,7.68,NaN,NaN,7.58,NaN,NaN,8.82,NaN,NaN,7.50,NaN,NaN,5.62,NaN,NaN,10.00,NaN,NaN,7.92,8.20,9.43,NaN,NaN,NaN,Ametista,NaN,nannan,0.0K
2,7.86,7.02,NaN,8.90,6.90,NaN,5.50,5.60,NaN,7.50,6.30,NaN,8.12,7.30,NaN,7.92,7.10,NaN,8.11,7.20,NaN,NaN,NaN,NaN,Ametista,Ametista,NaN,3H,3.0F,nannan
3,5.08,NaN,7.12,4.10,NaN,8.07,0.00,NaN,5.08,6.88,NaN,7.50,7.19,NaN,6.25,8.00,NaN,10.00,7.75,NaN,8.06,5.00,5.17,NaN,Quartzo,NaN,Ametista,1D,nannan,2.0J
4,8.08,7.40,7.23,8.00,7.50,8.56,7.50,5.40,7.08,7.50,7.50,7.50,8.44,8.50,6.46,7.50,7.40,6.42,8.17,7.40,7.83,6.67,7.50,NaN,Ametista,Ametista,Ametista,2M,2.0L,2.0L

In [17]:
# Tratamento de valor NaN
df_dados_selecionados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   INDE_2020        727 non-null    float64
 1   INDE_2021        684 non-null    float64
 2   INDE_2022        862 non-null    float64
 3   IEG_2020         727 non-null    float64
 4   IEG_2021         686 non-null    float64
 5   IEG_2022         862 non-null    float64
 6   IDA_2020         727 non-null    float64
 7   IDA_2021         686 non-null    float64
 8   IDA_2022         862 non-null    float64
 9   IPS_2020         727 non-null    float64
 10  IPS_2021         686 non-null    float64
 11  IPS_2022         862 non-null    float64
 12  IPP_2020         727 non-null    float64
 13  IPP_2021         686 non-null    float64
 14  IPP_2022         862 non-null    float64
 15  IAA_2020         727 non-null    float64
 16  IAA_2021         686 non-null    float64
 17  IAA_2022         862 non-null    float64
 18  IPV_2020         727 non-null    float64
 19  IPV_2021         686 non-null    float64
 20  IPV_2022         862 non-null    float64
 21  NOTA_PORT_2022   860 non-null    float64
 22  NOTA_MAT_2022    860 non-null    float64
 23  NOTA_ING_2022    285 non-null    float64
 24  PEDRA_2020       728 non-null    object
 25  PEDRA_2021       686 non-null    object
 26  PEDRA_2022       862 non-null    object
 27  FASE_TURMA_2020  728 non-null    object
 28  FASE_TURMA_2021  1349 non-null   object
 29  FASE_TURMA_2022  1349 non-null   object
dtypes: float64(24), object(6)
memory usage: 316.3+ KB

In [18]:
df_dados_selecionados.isnull().sum()/df_dados_selecionados.shape[0]*100

INDE_2020         46.11
INDE_2021         49.30
INDE_2022         36.10
IEG_2020          46.11
IEG_2021          49.15
IEG_2022          36.10
IDA_2020          46.11
IDA_2021          49.15
IDA_2022          36.10
IPS_2020          46.11
IPS_2021          49.15
IPS_2022          36.10
IPP_2020          46.11
IPP_2021          49.15
IPP_2022          36.10
IAA_2020          46.11
IAA_2021          49.15
IAA_2022          36.10
IPV_2020          46.11
IPV_2021          49.15
IPV_2022          36.10
NOTA_PORT_2022    36.25
NOTA_MAT_2022     36.25
NOTA_ING_2022     78.87
PEDRA_2020        46.03
PEDRA_2021        49.15
PEDRA_2022        36.10
FASE_TURMA_2020   46.03
FASE_TURMA_2021    0.00
FASE_TURMA_2022    0.00
dtype: float64

Considerando o fato de que as vari√°veis da base s√£o, em sua maioria (com exce√ß√£o das colunas `PEDRA_2020`, `PEDRA_2021`, `PEDRA_2022`, `FASE_TURMA_2020`, `FASE_TURMA_2021`, `FASE_TURMA_2022`) s√£o notas, para as _rows_ que apresentam valor nulo, √© assumido que o aluno n√£o foi avaliado **ou** zerou a avalia√ß√£o feita.

Por essa raz√£o, todos os valores NaN de colunas num√©ricas, ser√£o substitu√≠dos por 0. 

J√° para as colunas categ√≥ricas (`PEDRA_2020`, `PEDRA_2021`, `PEDRA_2022`, `FASE_TURMA_2020`, `FASE_TURMA_2021`, `FASE_TURMA_2022`), os valores NaN ser√£o substitu√≠dos por 'N√£o Informado'.

In [19]:
# INDE_2020, INDE_2021, INDE_2022, IEG_2020, IEG_2021, IEG_2022, IDA_2020, IDA_2021, IDA_2022, IPS_2020, IPS_2021, IPS_2022, IPP_2020, IPP_2021, IPP_2022, IAA_2020, IAA_2021, IAA_2022, IPV_2020, IPV_2021, IPV_2022, NOTA_PORT_2022, NOTA_MAT_2022,NOTA_ING_2022
colunas_numericas_na = ['INDE_2020', 'INDE_2021', 'INDE_2022', 'IEG_2020', 'IEG_2021', 'IEG_2022', 'IDA_2020', 'IDA_2021', 'IDA_2022', 'IPS_2020', 'IPS_2021', 'IPS_2022', 'IPP_2020', 'IPP_2021', 'IPP_2022', 'IAA_2020', 'IAA_2021', 'IAA_2022', 'IPV_2020', 'IPV_2021', 'IPV_2022', 'NOTA_PORT_2022', 'NOTA_MAT_2022','NOTA_ING_2022']

df_dados_selecionados[colunas_numericas_na] = df_dados_selecionados[colunas_numericas_na].fillna(0)

C:\Users\Elitebook\AppData\Local\Temp\ipykernel_17012\3198446668.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dados_selecionados[colunas_numericas_na] = df_dados_selecionados[colunas_numericas_na].fillna(0)

In [20]:
df_dados_selecionados.head()

,INDE_2020,INDE_2021,INDE_2022,IEG_2020,IEG_2021,IEG_2022,IDA_2020,IDA_2021,IDA_2022,IPS_2020,IPS_2021,IPS_2022,IPP_2020,IPP_2021,IPP_2022,IAA_2020,IAA_2021,IAA_2022,IPV_2020,IPV_2021,IPV_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,PEDRA_2020,PEDRA_2021,PEDRA_2022,FASE_TURMA_2020,FASE_TURMA_2021,FASE_TURMA_2022
0,7.88,7.32,0.00,8.70,6.30,0.00,7.00,8.80,0.00,7.50,6.90,0.00,5.94,7.70,0.00,8.50,7.50,0.00,7.75,8.10,0.00,0.00,0.00,0.00,Ametista,Ametista,NaN,2H,2.0G,nannan
1,0.00,0.00,7.68,0.00,0.00,7.58,0.00,0.00,8.82,0.00,0.00,7.50,0.00,0.00,5.62,0.00,0.00,10.00,0.00,0.00,7.92,8.20,9.43,0.00,NaN,NaN,Ametista,NaN,nannan,0.0K
2,7.86,7.02,0.00,8.90,6.90,0.00,5.50,5.60,0.00,7.50,6.30,0.00,8.12,7.30,0.00,7.92,7.10,0.00,8.11,7.20,0.00,0.00,0.00,0.00,Ametista,Ametista,NaN,3H,3.0F,nannan
3,5.08,0.00,7.12,4.10,0.00,8.07,0.00,0.00,5.08,6.88,0.00,7.50,7.19,0.00,6.25,8.00,0.00,10.00,7.75,0.00,8.06,5.00,5.17,0.00,Quartzo,NaN,Ametista,1D,nannan,2.0J
4,8.08,7.40,7.23,8.00,7.50,8.56,7.50,5.40,7.08,7.50,7.50,7.50,8.44,8.50,6.46,7.50,7.40,6.42,8.17,7.40,7.83,6.67,7.50,0.00,Ametista,Ametista,Ametista,2M,2.0L,2.0L

In [21]:
colunas_categoricas_na = ['PEDRA_2020', 'PEDRA_2021', 'PEDRA_2022', 'FASE_TURMA_2020', 'FASE_TURMA_2021', 'FASE_TURMA_2022']

df_dados_selecionados[colunas_categoricas_na] = df_dados_selecionados[colunas_categoricas_na].fillna('N√£o Informado')

C:\Users\Elitebook\AppData\Local\Temp\ipykernel_17012\3089728823.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dados_selecionados[colunas_categoricas_na] = df_dados_selecionados[colunas_categoricas_na].fillna('N√£o Informado')

In [22]:
df_dados_selecionados.head()

,INDE_2020,INDE_2021,INDE_2022,IEG_2020,IEG_2021,IEG_2022,IDA_2020,IDA_2021,IDA_2022,IPS_2020,IPS_2021,IPS_2022,IPP_2020,IPP_2021,IPP_2022,IAA_2020,IAA_2021,IAA_2022,IPV_2020,IPV_2021,IPV_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,PEDRA_2020,PEDRA_2021,PEDRA_2022,FASE_TURMA_2020,FASE_TURMA_2021,FASE_TURMA_2022
0,7.88,7.32,0.00,8.70,6.30,0.00,7.00,8.80,0.00,7.50,6.90,0.00,5.94,7.70,0.00,8.50,7.50,0.00,7.75,8.10,0.00,0.00,0.00,0.00,Ametista,Ametista,N√£o Informado,2H,2.0G,nannan
1,0.00,0.00,7.68,0.00,0.00,7.58,0.00,0.00,8.82,0.00,0.00,7.50,0.00,0.00,5.62,0.00,0.00,10.00,0.00,0.00,7.92,8.20,9.43,0.00,N√£o Informado,N√£o Informado,Ametista,N√£o Informado,nannan,0.0K
2,7.86,7.02,0.00,8.90,6.90,0.00,5.50,5.60,0.00,7.50,6.30,0.00,8.12,7.30,0.00,7.92,7.10,0.00,8.11,7.20,0.00,0.00,0.00,0.00,Ametista,Ametista,N√£o Informado,3H,3.0F,nannan
3,5.08,0.00,7.12,4.10,0.00,8.07,0.00,0.00,5.08,6.88,0.00,7.50,7.19,0.00,6.25,8.00,0.00,10.00,7.75,0.00,8.06,5.00,5.17,0.00,Quartzo,N√£o Informado,Ametista,1D,nannan,2.0J
4,8.08,7.40,7.23,8.00,7.50,8.56,7.50,5.40,7.08,7.50,7.50,7.50,8.44,8.50,6.46,7.50,7.40,6.42,8.17,7.40,7.83,6.67,7.50,0.00,Ametista,Ametista,Ametista,2M,2.0L,2.0L

In [23]:
# transforma nomes de colunas em lower case
df_dados_selecionados.columns = df_dados_selecionados.columns.str.lower()

In [24]:
df_dados_selecionados.head()

,inde_2020,inde_2021,inde_2022,ieg_2020,ieg_2021,ieg_2022,ida_2020,ida_2021,ida_2022,ips_2020,ips_2021,ips_2022,ipp_2020,ipp_2021,ipp_2022,iaa_2020,iaa_2021,iaa_2022,ipv_2020,ipv_2021,ipv_2022,nota_port_2022,nota_mat_2022,nota_ing_2022,pedra_2020,pedra_2021,pedra_2022,fase_turma_2020,fase_turma_2021,fase_turma_2022
0,7.88,7.32,0.00,8.70,6.30,0.00,7.00,8.80,0.00,7.50,6.90,0.00,5.94,7.70,0.00,8.50,7.50,0.00,7.75,8.10,0.00,0.00,0.00,0.00,Ametista,Ametista,N√£o Informado,2H,2.0G,nannan
1,0.00,0.00,7.68,0.00,0.00,7.58,0.00,0.00,8.82,0.00,0.00,7.50,0.00,0.00,5.62,0.00,0.00,10.00,0.00,0.00,7.92,8.20,9.43,0.00,N√£o Informado,N√£o Informado,Ametista,N√£o Informado,nannan,0.0K
2,7.86,7.02,0.00,8.90,6.90,0.00,5.50,5.60,0.00,7.50,6.30,0.00,8.12,7.30,0.00,7.92,7.10,0.00,8.11,7.20,0.00,0.00,0.00,0.00,Ametista,Ametista,N√£o Informado,3H,3.0F,nannan
3,5.08,0.00,7.12,4.10,0.00,8.07,0.00,0.00,5.08,6.88,0.00,7.50,7.19,0.00,6.25,8.00,0.00,10.00,7.75,0.00,8.06,5.00,5.17,0.00,Quartzo,N√£o Informado,Ametista,1D,nannan,2.0J
4,8.08,7.40,7.23,8.00,7.50,8.56,7.50,5.40,7.08,7.50,7.50,7.50,8.44,8.50,6.46,7.50,7.40,6.42,8.17,7.40,7.83,6.67,7.50,0.00,Ametista,Ametista,Ametista,2M,2.0L,2.0L

In [25]:
# Criar uma nova coluna 'id_aluno' com n√∫meros sequenciais de 1 at√© o n√∫mero total de linhas
df_dados_selecionados['id_aluno'] = range(1, len(df_dados_selecionados) + 1)

# Exibir o DataFrame atualizado
df_dados_selecionados.head()

C:\Users\Elitebook\AppData\Local\Temp\ipykernel_17012\2381433984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dados_selecionados['id_aluno'] = range(1, len(df_dados_selecionados) + 1)

,inde_2020,inde_2021,inde_2022,ieg_2020,ieg_2021,ieg_2022,ida_2020,ida_2021,ida_2022,ips_2020,ips_2021,ips_2022,ipp_2020,ipp_2021,ipp_2022,iaa_2020,iaa_2021,iaa_2022,ipv_2020,ipv_2021,ipv_2022,nota_port_2022,nota_mat_2022,nota_ing_2022,pedra_2020,pedra_2021,pedra_2022,fase_turma_2020,fase_turma_2021,fase_turma_2022,id_aluno
0,7.88,7.32,0.00,8.70,6.30,0.00,7.00,8.80,0.00,7.50,6.90,0.00,5.94,7.70,0.00,8.50,7.50,0.00,7.75,8.10,0.00,0.00,0.00,0.00,Ametista,Ametista,N√£o Informado,2H,2.0G,nannan,1
1,0.00,0.00,7.68,0.00,0.00,7.58,0.00,0.00,8.82,0.00,0.00,7.50,0.00,0.00,5.62,0.00,0.00,10.00,0.00,0.00,7.92,8.20,9.43,0.00,N√£o Informado,N√£o Informado,Ametista,N√£o Informado,nannan,0.0K,2
2,7.86,7.02,0.00,8.90,6.90,0.00,5.50,5.60,0.00,7.50,6.30,0.00,8.12,7.30,0.00,7.92,7.10,0.00,8.11,7.20,0.00,0.00,0.00,0.00,Ametista,Ametista,N√£o Informado,3H,3.0F,nannan,3
3,5.08,0.00,7.12,4.10,0.00,8.07,0.00,0.00,5.08,6.88,0.00,7.50,7.19,0.00,6.25,8.00,0.00,10.00,7.75,0.00,8.06,5.00,5.17,0.00,Quartzo,N√£o Informado,Ametista,1D,nannan,2.0J,4
4,8.08,7.40,7.23,8.00,7.50,8.56,7.50,5.40,7.08,7.50,7.50,7.50,8.44,8.50,6.46,7.50,7.40,6.42,8.17,7.40,7.83,6.67,7.50,0.00,Ametista,Ametista,Ametista,2M,2.0L,2.0L,5

In [26]:
# exporta df_dados_selecionados para um arquivo .CSV
df_dados_selecionados.to_csv('bases_e_documental/pede_passos_dataset_fiap_tratado.csv', sep=';', index=False)

#### 1.1.3 Tratamento da Base Demogr√°fica

In [27]:
df_municipio = pd.read_csv('bases_e_documental/TbMunicipio.csv', sep=',')
df_municipio.head()

   IdMunicipio        NomeMunicipio  UF  CodigoIBGE
0            1      ABADIA DE GOI√ÅS  GO     5200050
1            2  ABADIA DOS DOURADOS  MG     3100104
2            3            ABADI√ÇNIA  GO     5200100
3            4               ABAET√â  MG     3100203
4            5           ABAETETUBA  PA     1500107

In [28]:
df_municipio.shape

(5563, 4)

In [29]:
df_municipio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdMunicipio    5563 non-null   int64
 1   NomeMunicipio  5563 non-null   object
 2   UF             5563 non-null   object
 3   CodigoIBGE     5563 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.0+ KB

In [30]:
df_municipio.isnull().sum()

IdMunicipio      0
NomeMunicipio    0
UF               0
CodigoIBGE       0
dtype: int64

#### 1.1.4 Tratamento da Base de alunos

In [31]:
df_alunos = pd.read_csv('bases_e_documental/TbAluno.csv', sep=',')
df_alunos.head()

,IdAluno,NomeAluno,NomeAbreviado,IdUnidade,Sexo,EstadoCivil,DataNascimento,IdPai,IdMae,IdResponsavel,IdTipoResponsavel,Naturalidade,Nacionalidade,TipoSangue,PlanoSaude,Alergia,Medicamento,IdEstabelecimentoEnsinoAnterior,IdReligiao,AnoConclusao,CorRaca,StDeficienciaCegueira,StDeficienciaBaixaVisao,StDeficienciaSurdez,StDeficienciaAuditiva,StDeficienciaFisica,StDeficienciaSurdoCegueira,StDeficienciaMultipla,StDeficienciaMental,_IdResponsavel_CadastroVinculado,StFalecido,EnsinoMedio_IdEstabelecimentoEnsino,EnsinoMedio_AnoConclusao,StDeficienciaAutismoInfantil,StDeficienciaSindromeAsperger,StDeficienciaSindromeRett,StDeficienciaTrastornoDesintegrativo,StDeficienciaAltasHabilidades,NomeCivil,StAppComunicacao_Sincronizado,IdTipoResponsavelPai,IdTipoResponsavelMae,StRecursoAuxilioLedor,StRecursoAuxilioTranscricao,StRecursoGuiaInterprete,StRecursoTradutorInterpreteDeLibras,StRecursoLeituraLabial,StRecursoMaterialDidaticoProvaBraille,StRecursoProvaAmpliada,StRecursoProvaSuperampliada,StRecursoCdComAudio,StRecursoLinguaPortuguesaSegundaLingua,StRecursoProvaEmVideo,StPermiteUsoImagem,StEstrangeiro,Unnamed: 55
0,3,Aluno 1,NaN,1.00,F,5.00,2005-03-29 03:00:00,NaN,5,5.00,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN
1,4,Aluno 2,NaN,1.00,F,5.00,2004-11-04 02:00:00,6.00,NaN,6.00,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN
2,5,Aluno 3,NaN,1.00,F,5.00,2002-01-25 02:00:00,NaN,NaN,7.00,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN
3,6,Aluno 4,NaN,1.00,M,5.00,2002-10-07 03:00:00,NaN,8,8.00,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN
4,7,Aluno 5,NaN,1.00,M,5.00,2002-12-23 02:00:00,NaN,9,9.00,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN

In [32]:
df_alunos.shape

(2238, 56)

In [33]:
df_alunos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2238 entries, 0 to 2237
Data columns (total 56 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   IdAluno                                 2238 non-null   int64
 1   NomeAluno                               2238 non-null   object
 2   NomeAbreviado                           0 non-null      float64
 3   IdUnidade                               2237 non-null   float64
 4   Sexo                                    2237 non-null   object
 5   EstadoCivil                             2237 non-null   float64
 6   DataNascimento                          2238 non-null   object
 7   IdPai                                   800 non-null    float64
 8   IdMae                                   1218 non-null   object
 9   IdResponsavel                           2237 non-null   float64
 10  IdTipoResponsavel                       2238 non-null   int64
 11  Naturalidade                            1 non-null      object
 12  Nacionalidade                           2 non-null      object
 13  TipoSangue                              0 non-null      float64
 14  PlanoSaude                              0 non-null      float64
 15  Alergia                                 0 non-null      float64
 16  Medicamento                             0 non-null      float64
 17  IdEstabelecimentoEnsinoAnterior         0 non-null      float64
 18  IdReligiao                              0 non-null      float64
 19  AnoConclusao                            0 non-null      float64
 20  CorRaca                                 2237 non-null   object
 21  StDeficienciaCegueira                   2237 non-null   object
 22  StDeficienciaBaixaVisao                 2237 non-null   object
 23  StDeficienciaSurdez                     2238 non-null   bool
 24  StDeficienciaAuditiva                   2238 non-null   bool
 25  StDeficienciaFisica                     2238 non-null   bool
 26  StDeficienciaSurdoCegueira              2238 non-null   bool
 27  StDeficienciaMultipla                   2238 non-null   bool
 28  StDeficienciaMental                     2238 non-null   bool
 29  _IdResponsavel_CadastroVinculado        1 non-null      object
 30  StFalecido                              2237 non-null   object
 31  EnsinoMedio_IdEstabelecimentoEnsino     0 non-null      float64
 32  EnsinoMedio_AnoConclusao                1 non-null      object
 33  StDeficienciaAutismoInfantil            2237 non-null   object
 34  StDeficienciaSindromeAsperger           2237 non-null   object
 35  StDeficienciaSindromeRett               2238 non-null   bool
 36  StDeficienciaTrastornoDesintegrativo    2238 non-null   bool
 37  StDeficienciaAltasHabilidades           2238 non-null   bool
 38  NomeCivil                               0 non-null      float64
 39  StAppComunicacao_Sincronizado           2237 non-null   object
 40  IdTipoResponsavelPai                    608 non-null    object
 41  IdTipoResponsavelMae                    480 non-null    float64
 42  StRecursoAuxilioLedor                   2237 non-null   object
 43  StRecursoAuxilioTranscricao             2237 non-null   object
 44  StRecursoGuiaInterprete                 2238 non-null   bool
 45  StRecursoTradutorInterpreteDeLibras     2238 non-null   bool
 46  StRecursoLeituraLabial                  2238 non-null   bool
 47  StRecursoMaterialDidaticoProvaBraille   2238 non-null   bool
 48  StRecursoProvaAmpliada                  2238 non-null   bool
 49  StRecursoProvaSuperampliada             2238 non-null   bool
 50  StRecursoCdComAudio                     2238 non-null   bool
 51  StRecursoLinguaPortuguesaSegundaLingua  2238 non-null   bool
 52  StRecursoProvaEmVideo                   2238 non-null   bool
 53  StPermiteUsoImagem                      2238 non-null   bool
 54  StEstrangeiro                           2238 non-null   bool
 55  Unnamed: 55                             1 non-null      object
dtypes: bool(20), float64(15), int64(2), object(19)
memory usage: 673.3+ KB

In [34]:
df_alunos.isnull().sum()

IdAluno                                      0
NomeAluno                                    0
NomeAbreviado                             2238
IdUnidade                                    1
Sexo                                         1
EstadoCivil                                  1
DataNascimento                               0
IdPai                                     1438
IdMae                                     1020
IdResponsavel                                1
IdTipoResponsavel                            0
Naturalidade                              2237
Nacionalidade                             2236
TipoSangue                                2238
PlanoSaude                                2238
Alergia                                   2238
Medicamento                               2238
IdEstabelecimentoEnsinoAnterior           2238
IdReligiao                                2238
AnoConclusao                              2238
CorRaca                                      1
StDeficienciaCegueira                        1
StDeficienciaBaixaVisao                      1
StDeficienciaSurdez                          0
StDeficienciaAuditiva                        0
StDeficienciaFisica                          0
StDeficienciaSurdoCegueira                   0
StDeficienciaMultipla                        0
StDeficienciaMental                          0
_IdResponsavel_CadastroVinculado          2237
StFalecido                                   1
EnsinoMedio_IdEstabelecimentoEnsino       2238
EnsinoMedio_AnoConclusao                  2237
StDeficienciaAutismoInfantil                 1
StDeficienciaSindromeAsperger                1
StDeficienciaSindromeRett                    0
StDeficienciaTrastornoDesintegrativo         0
StDeficienciaAltasHabilidades                0
NomeCivil                                 2238
StAppComunicacao_Sincronizado                1
IdTipoResponsavelPai                      1630
IdTipoResponsavelMae                      1758
StRecursoAuxilioLedor                        1
StRecursoAuxilioTranscricao                  1
StRecursoGuiaInterprete                      0
StRecursoTradutorInterpreteDeLibras          0
StRecursoLeituraLabial                       0
StRecursoMaterialDidaticoProvaBraille        0
StRecursoProvaAmpliada                       0
StRecursoProvaSuperampliada                  0
StRecursoCdComAudio                          0
StRecursoLinguaPortuguesaSegundaLingua       0
StRecursoProvaEmVideo                        0
StPermiteUsoImagem                           0
StEstrangeiro                                0
Unnamed: 55                               2237
dtype: int64

In [35]:
# cria novo Dataframe, √† partir do Dataframe original (df_alunos)
df_dados_selecionados_alunos = df_alunos[['IdAluno', 'Sexo', 'EstadoCivil', 'DataNascimento', 'IdTipoResponsavel', 'IdEstabelecimentoEnsinoAnterior', 'CorRaca', 'StFalecido', 'IdTipoResponsavelPai', 'IdTipoResponsavelMae', 'StEstrangeiro']]
df_dados_selecionados_alunos.head()

,IdAluno,Sexo,EstadoCivil,DataNascimento,IdTipoResponsavel,IdEstabelecimentoEnsinoAnterior,CorRaca,StFalecido,IdTipoResponsavelPai,IdTipoResponsavelMae,StEstrangeiro
0,3,F,5.00,2005-03-29 03:00:00,11,NaN,R,False,NaN,NaN,False
1,4,F,5.00,2004-11-04 02:00:00,11,NaN,B,False,NaN,NaN,False
2,5,F,5.00,2002-01-25 02:00:00,11,NaN,B,False,NaN,NaN,False
3,6,M,5.00,2002-10-07 03:00:00,11,NaN,R,False,NaN,NaN,False
4,7,M,5.00,2002-12-23 02:00:00,11,NaN,R,False,NaN,NaN,False

In [36]:
# verifica porcentagem de valores nulos em cada coluna
df_dados_selecionados_alunos.isnull().sum()/df_dados_selecionados_alunos.shape[0]*100

IdAluno                             0.00
Sexo                                0.04
EstadoCivil                         0.04
DataNascimento                      0.00
IdTipoResponsavel                   0.00
IdEstabelecimentoEnsinoAnterior   100.00
CorRaca                             0.04
StFalecido                          0.04
IdTipoResponsavelPai               72.83
IdTipoResponsavelMae               78.55
StEstrangeiro                       0.00
dtype: float64

In [37]:
df_dados_selecionados_alunos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2238 entries, 0 to 2237
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   IdAluno                          2238 non-null   int64
 1   Sexo                             2237 non-null   object
 2   EstadoCivil                      2237 non-null   float64
 3   DataNascimento                   2238 non-null   object
 4   IdTipoResponsavel                2238 non-null   int64
 5   IdEstabelecimentoEnsinoAnterior  0 non-null      float64
 6   CorRaca                          2237 non-null   object
 7   StFalecido                       2237 non-null   object
 8   IdTipoResponsavelPai             608 non-null    object
 9   IdTipoResponsavelMae             480 non-null    float64
 10  StEstrangeiro                    2238 non-null   bool
dtypes: bool(1), float64(3), int64(2), object(5)
memory usage: 177.2+ KB

Considerando a leitura da "qualidade" de dados acima, iremos prosseguir com os seguintes tratamentos:

- Dele√ß√£o da coluna `IdEstabelecimentoEnsinoAnterior` porque, 100% das linhas dessa coluna s√£o nulas / vazias.
- Dele√ß√£o das linhas em branco / nulas das colunas `Sexo`, `EstadoCivil`, `CorRaca` e `StFalecido` porque, a porcentagem de linhas sem essa coluna, √© inferior √† 1%.
- Dele√ß√£o da coluna `StEstrangeiro` porque 100% das linhas dessa coluna, mostram que n√£o h√° recorte de leitura poss√≠vel para alunos estrangeiros. Todos s√£o brasileiros.
- Dele√ß√£o das colunas `IdTipoResponsavelPai` e `IdTipoResponsavelMae`. N√£o encontramos as indica√ß√µes de dicion√°rio dos valores da coluna.

In [38]:
df_dados_selecionados_alunos.shape

(2238, 11)

In [40]:
df_dados_selecionados_alunos.drop('IdEstabelecimentoEnsinoAnterior', axis=1, inplace=True)
df_dados_selecionados_alunos.drop('StEstrangeiro', axis=1, inplace=True)
df_dados_selecionados_alunos.drop('IdTipoResponsavelPai', axis=1, inplace=True)
df_dados_selecionados_alunos.drop('IdTipoResponsavelMae', axis=1, inplace=True)

# dele√ß√£o das linhas nulas das colunas 'Sexo', 'EstadoCivil', 'CorRaca' e 'StFalecido'
df_dados_selecionados_alunos.dropna(subset=['Sexo', 'EstadoCivil', 'CorRaca', 'StFalecido'], inplace=True)

C:\Users\Elitebook\AppData\Local\Temp\ipykernel_17012\2347253272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dados_selecionados_alunos.drop('IdEstabelecimentoEnsinoAnterior', axis=1, inplace=True)
C:\Users\Elitebook\AppData\Local\Temp\ipykernel_17012\2347253272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dados_selecionados_alunos.drop('StEstrangeiro', axis=1, inplace=True)
C:\Users\Elitebook\AppData\Local\Temp\ipykernel_17012\2347253272.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dados_selecionados_alunos.drop('IdTipoResponsavelPai', axis=1, inplace=True)
C:\Users\Elitebook\AppData\Local\Temp\ipykernel_17012\2347253272.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dados_selecionados_alunos.drop('IdTipoResponsavelMae', axis=1, inplace=True)
C:\Users\Elitebook\AppData\Local\Temp\ipykernel_17012\2347253272.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dados_selecionados_alunos.dropna(subset=['Sexo', 'EstadoCivil', 'CorRaca', 'StFalecido'], inplace=True)

In [41]:
df_dados_selecionados_alunos.shape

(2237, 7)

In [42]:
df_dados_selecionados_alunos.head()

,IdAluno,Sexo,EstadoCivil,DataNascimento,IdTipoResponsavel,CorRaca,StFalecido
0,3,F,5.00,2005-03-29 03:00:00,11,R,False
1,4,F,5.00,2004-11-04 02:00:00,11,B,False
2,5,F,5.00,2002-01-25 02:00:00,11,B,False
3,6,M,5.00,2002-10-07 03:00:00,11,R,False
4,7,M,5.00,2002-12-23 02:00:00,11,R,False

In [43]:
df_dados_selecionados_alunos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2237 entries, 0 to 2237
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   IdAluno            2237 non-null   int64
 1   Sexo               2237 non-null   object
 2   EstadoCivil        2237 non-null   float64
 3   DataNascimento     2237 non-null   object
 4   IdTipoResponsavel  2237 non-null   int64
 5   CorRaca            2237 non-null   object
 6   StFalecido         2237 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 139.8+ KB

#### 1.1.5 Tratamento da _Merged Base_ de `TbAluno`

A base _merged_, se refere √† jun√ß√£o das bases `TbAluno`, `TbAlunoObs`, `TbAlunoProprioRespons√°vel`, `TbAlunoRotinaEducacaoInfantil`, `TbAlunoTurma` e `TbAlunoTurmaHistorico`.

In [46]:
# transforma arquivo .CSV em um Pandas Dataframe
df_alunos_merged = pd.read_csv('bases_e_documental/Base de dados - Passos M√°gicos/TbAluno/Merge/merged_data.csv', sep=',')
df_alunos_merged.head()

,IdAlunoRotinaEducacaoInfantil,IdAluno,IdTurma_x,Data,IdProfessorResponsavel,IdUsuarioResponsavel,IdFormularioRotinaEducacaoInfantil,IdAlunoObs,IdTipoOcorrencia,StImpedimento,DataOcorrencia_x,IdUsuarioRegistro,ObservacaoRegistro,DataLiberacao,IdUsuarioLiberacao,ObservacaoLiberacao,DataInclusao,StExibirInternet,IdProfessorRegistro,DataInicialAtestado,DataFinalAtestado,IdResponsavel_x,IdTurma_y,IdSituacaoAlunoTurma_x,DataSituacaoAtivo,DataSituacaoInativo,IdFaseNotaInicial_x,OrdemChamada,DataHoraEfetivacaoMatricula,IdUsuarioEfetivacaoMatricula,IdAlunoCursoSuperior,ProblemaAutorizadoMatricula,IdUsuarioAutorizacaoMatricula,StAlunoTurmaNaoPermitePParcial,ES_IdCurriculoOptativa,IdResponsavelFinanceiro,IdTipoResponsavelFinanceiro,IdResponsavelSecundario,IdTipoResponsavelSecundario,IdMotivoInativacao,IdEstabEnsinoInativacao,ComentarioInativacao,Comentario,IdPlanoPagamento_PreMatricula,IdPlanoPagamento_Matricula,SituacaoExcecao_IdSituacaoAlunoTurma,SituacaoExcecao_IdUsuario,SituacaoExcecao_DataRegistro,SituacaoExcecao_Comentario,IdAlunoCurso,IdEventoTipoInscricao,RMOnline_TextoPersonalizado_Confirmacao,StProcessamento_FichaInscricao,StProcessamento_ConfirmacaoReservaOnline,StProcessamento_InscricaoEmTurma,IdAlunoTurma,NomeAluno,NomeAbreviado,IdUnidade,Sexo,EstadoCivil,DataNascimento,IdPai,IdMae,IdResponsavel_y,IdTipoResponsavel,Naturalidade,Nacionalidade,TipoSangue,PlanoSaude,Alergia,Medicamento,IdEstabelecimentoEnsinoAnterior,IdReligiao,AnoConclusao,CorRaca,StDeficienciaCegueira,StDeficienciaBaixaVisao,StDeficienciaSurdez,StDeficienciaAuditiva,StDeficienciaFisica,StDeficienciaSurdoCegueira,StDeficienciaMultipla,StDeficienciaMental,_IdResponsavel_CadastroVinculado,StFalecido,EnsinoMedio_IdEstabelecimentoEnsino,EnsinoMedio_AnoConclusao,StDeficienciaAutismoInfantil,StDeficienciaSindromeAsperger,StDeficienciaSindromeRett,StDeficienciaTrastornoDesintegrativo,StDeficienciaAltasHabilidades,NomeCivil,StAppComunicacao_Sincronizado,IdTipoResponsavelPai,IdTipoResponsavelMae,StRecursoAuxilioLedor,StRecursoAuxilioTranscricao,StRecursoGuiaInterprete,StRecursoTradutorInterpreteDeLibras,StRecursoLeituraLabial,StRecursoMaterialDidaticoProvaBraille,StRecursoProvaAmpliada,StRecursoProvaSuperampliada,StRecursoCdComAudio,StRecursoLinguaPortuguesaSegundaLingua,StRecursoProvaEmVideo,StPermiteUsoImagem,StEstrangeiro,Unnamed: 55,DataOcorrencia_y,IdTurma,IdSituacaoAlunoTurma_y,IdFaseNotaInicial_y,IdUsuario
0,16139,727,231,2021-08-24 00:00:00,11.00,NaN,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,NaN,NaN,NaN,2023-05-15 17:09:00,False,NaN,NaN,NaN,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,NaN,1,2021-08-20 00:00:00,NaN,NaN,NaN,NaN,False,NaN,615.00,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734,Aluno 724,NaN,1.00,M,5.00,2001-07-23 03:00:00,NaN,NaN,615.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,2021-08-20 17:44:09.803000,231,1.00,NaN,15
1,16139,727,231,2021-08-24 00:00:00,11.00,NaN,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,NaN,NaN,NaN,2023-05-15 17:09:00,False,NaN,NaN,NaN,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,NaN,1,2021-08-20 00:00:00,NaN,NaN,NaN,NaN,False,NaN,615.00,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734,Aluno 724,NaN,1.00,M,5.00,2001-07-23 03:00:00,NaN,NaN,615.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,2021-09-22 12:25:38.363000,142,1.00,NaN,14
2,16139,727,231,2021-08-24 00:00:00,11.00,NaN,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,NaN,NaN,NaN,2023-05-15 17:09:00,False,NaN,NaN,NaN,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,NaN,1,2021-08-20 00:00:00,NaN,NaN,NaN,NaN,False,NaN,615.00,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734,Aluno 724,NaN,1.00,M,5.00,2001-07-23 03:00:00,NaN,NaN,615.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,2021-12-28 15:14:53.953000,142,9.00,NaN,15
3,16139,727,231,2021-08-24 00:00:00,11.00,NaN,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,NaN,NaN,NaN,2023-05-15 17:09:00,False,NaN,NaN,NaN,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,NaN,1,2021-08-20 00:00:00,NaN,NaN,NaN,NaN,False,NaN,615.00,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734,Aluno 724,NaN,1.00,M,5.00,2001-07-23 03:00:00,NaN,NaN,615.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,2021-12-28 15:21:27.383000,231,9.00,NaN,15
4,16139,727,231,2021-08-24 00:00:00,11.00,NaN,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,NaN,NaN,NaN,2023-05-15 17:09:00,False,NaN,NaN,NaN,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,NaN,1,2021-08-20 00:00:00,NaN,NaN,NaN,NaN,False,NaN,615.00,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734,Aluno 724,NaN,1.00,M,5.00,2001-07-23 03:00:00,NaN,NaN,615.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,NaN,False,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,2022-02-09 14:53:07.403000,198,1.00,NaN,16

In [47]:
df_alunos_merged.shape

(49089, 116)

In [56]:
# Obter as informa√ß√µes do DataFrame
df_alunos_merged.info(buf=None, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49089 entries, 0 to 49088
Data columns (total 116 columns):
 #    Column                                    Dtype
---   ------                                    -----
 0    IdAlunoRotinaEducacaoInfantil             int64
 1    IdAluno                                   int64
 2    IdTurma_x                                 int64
 3    Data                                      object
 4    IdProfessorResponsavel                    float64
 5    IdUsuarioResponsavel                      float64
 6    IdFormularioRotinaEducacaoInfantil        int64
 7    IdAlunoObs                                int64
 8    IdTipoOcorrencia                          int64
 9    StImpedimento                             bool
 10   DataOcorrencia_x                          object
 11   IdUsuarioRegistro                         int64
 12   ObservacaoRegistro                        object
 13   DataLiberacao                             float64
 14   IdUsuarioLiberacao                        float64
 15   ObservacaoLiberacao                       float64
 16   DataInclusao                              object
 17   StExibirInternet                          bool
 18   IdProfessorRegistro                       float64
 19   DataInicialAtestado                       float64
 20   DataFinalAtestado                         float64
 21   IdResponsavel_x                           int64
 22   IdTurma_y                                 int64
 23   IdSituacaoAlunoTurma_x                    int64
 24   DataSituacaoAtivo                         object
 25   DataSituacaoInativo                       object
 26   IdFaseNotaInicial_x                       float64
 27   OrdemChamada                              int64
 28   DataHoraEfetivacaoMatricula               object
 29   IdUsuarioEfetivacaoMatricula              float64
 30   IdAlunoCursoSuperior                      float64
 31   ProblemaAutorizadoMatricula               object
 32   IdUsuarioAutorizacaoMatricula             float64
 33   StAlunoTurmaNaoPermitePParcial            bool
 34   ES_IdCurriculoOptativa                    float64
 35   IdResponsavelFinanceiro                   float64
 36   IdTipoResponsavelFinanceiro               float64
 37   IdResponsavelSecundario                   float64
 38   IdTipoResponsavelSecundario               float64
 39   IdMotivoInativacao                        float64
 40   IdEstabEnsinoInativacao                   float64
 41   ComentarioInativacao                      float64
 42   Comentario                                float64
 43   IdPlanoPagamento_PreMatricula             float64
 44   IdPlanoPagamento_Matricula                float64
 45   SituacaoExcecao_IdSituacaoAlunoTurma      float64
 46   SituacaoExcecao_IdUsuario                 float64
 47   SituacaoExcecao_DataRegistro              float64
 48   SituacaoExcecao_Comentario                float64
 49   IdAlunoCurso                              float64
 50   IdEventoTipoInscricao                     float64
 51   RMOnline_TextoPersonalizado_Confirmacao   float64
 52   StProcessamento_FichaInscricao            float64
 53   StProcessamento_ConfirmacaoReservaOnline  float64
 54   StProcessamento_InscricaoEmTurma          float64
 55   IdAlunoTurma                              int64
 56   NomeAluno                                 object
 57   NomeAbreviado                             float64
 58   IdUnidade                                 float64
 59   Sexo                                      object
 60   EstadoCivil                               float64
 61   DataNascimento                            object
 62   IdPai                                     float64
 63   IdMae                                     float64
 64   IdResponsavel_y                           float64
 65   IdTipoResponsavel                         int64
 66   Naturalidade                              float64
 67   Nacionalidade                             float64
 68   TipoSangue                                float64
 69   PlanoSaude                                float64
 70   Alergia                                   float64
 71   Medicamento                               float64
 72   IdEstabelecimentoEnsinoAnterior           float64
 73   IdReligiao                                float64
 74   AnoConclusao                              float64
 75   CorRaca                                   object
 76   StDeficienciaCegueira                     bool
 77   StDeficienciaBaixaVisao                   bool
 78   StDeficienciaSurdez                       bool
 79   StDeficienciaAuditiva                     bool
 80   StDeficienciaFisica                       bool
 81   StDeficienciaSurdoCegueira                bool
 82   StDeficienciaMultipla                     bool
 83   StDeficienciaMental                       bool
 84   _IdResponsavel_CadastroVinculado          float64
 85   StFalecido                                bool
 86   EnsinoMedio_IdEstabelecimentoEnsino       float64
 87   EnsinoMedio_AnoConclusao                  float64
 88   StDeficienciaAutismoInfantil              bool
 89   StDeficienciaSindromeAsperger             bool
 90   StDeficienciaSindromeRett                 bool
 91   StDeficienciaTrastornoDesintegrativo      bool
 92   StDeficienciaAltasHabilidades             bool
 93   NomeCivil                                 float64
 94   StAppComunicacao_Sincronizado             bool
 95   IdTipoResponsavelPai                      float64
 96   IdTipoResponsavelMae                      float64
 97   StRecursoAuxilioLedor                     bool
 98   StRecursoAuxilioTranscricao               bool
 99   StRecursoGuiaInterprete                   bool
 100  StRecursoTradutorInterpreteDeLibras       bool
 101  StRecursoLeituraLabial                    bool
 102  StRecursoMaterialDidaticoProvaBraille     bool
 103  StRecursoProvaAmpliada                    bool
 104  StRecursoProvaSuperampliada               bool
 105  StRecursoCdComAudio                       bool
 106  StRecursoLinguaPortuguesaSegundaLingua    bool
 107  StRecursoProvaEmVideo                     bool
 108  StPermiteUsoImagem                        bool
 109  StEstrangeiro                             bool
 110  Unnamed: 55                               float64
 111  DataOcorrencia_y                          object
 112  IdTurma                                   int64
 113  IdSituacaoAlunoTurma_y                    float64
 114  IdFaseNotaInicial_y                       float64
 115  IdUsuario                                 int64
dtypes: bool(31), float64(57), int64(15), object(13)
memory usage: 33.3+ MB

In [63]:
# mostra colunas que possuam valor nulo == 100%
df_alunos_merged.columns[df_alunos_merged.isnull().mean() == 1]

Index(['IdUsuarioResponsavel', 'DataLiberacao', 'IdUsuarioLiberacao',
       'ObservacaoLiberacao', 'IdProfessorRegistro', 'DataInicialAtestado',
       'DataFinalAtestado', 'IdFaseNotaInicial_x', 'IdAlunoCursoSuperior',
       'ES_IdCurriculoOptativa', 'IdResponsavelSecundario',
       'IdTipoResponsavelSecundario', 'IdEstabEnsinoInativacao',
       'ComentarioInativacao', 'Comentario', 'IdPlanoPagamento_PreMatricula',
       'SituacaoExcecao_IdSituacaoAlunoTurma', 'SituacaoExcecao_IdUsuario',
       'SituacaoExcecao_DataRegistro', 'SituacaoExcecao_Comentario',
       'IdAlunoCurso', 'IdEventoTipoInscricao',
       'RMOnline_TextoPersonalizado_Confirmacao',
       'StProcessamento_FichaInscricao',
       'StProcessamento_ConfirmacaoReservaOnline',
       'StProcessamento_InscricaoEmTurma', 'NomeAbreviado', 'IdPai', 'IdMae',
       'Naturalidade', 'Nacionalidade', 'TipoSangue', 'PlanoSaude', 'Alergia',
       'Medicamento', 'IdEstabelecimentoEnsinoAnterior', 'IdReligiao',
       'AnoConclusao', '_IdResponsavel_CadastroVinculado',
       'EnsinoMedio_IdEstabelecimentoEnsino', 'EnsinoMedio_AnoConclusao',
       'NomeCivil', 'IdTipoResponsavelPai', 'IdTipoResponsavelMae',
       'Unnamed: 55', 'IdFaseNotaInicial_y'],
      dtype='object')

In [65]:
df_alunos_merged.drop(['IdUsuarioResponsavel', 'DataLiberacao', 'IdUsuarioLiberacao', 'ObservacaoLiberacao', 'IdProfessorRegistro', 'DataInicialAtestado', 'DataFinalAtestado', 'IdFaseNotaInicial_x', 'IdAlunoCursoSuperior', 'ES_IdCurriculoOptativa', 'IdResponsavelSecundario', 'IdTipoResponsavelSecundario', 'IdEstabEnsinoInativacao', 'ComentarioInativacao', 'Comentario', 'IdPlanoPagamento_PreMatricula', 'SituacaoExcecao_IdSituacaoAlunoTurma', 'SituacaoExcecao_IdUsuario', 'SituacaoExcecao_DataRegistro', 'SituacaoExcecao_Comentario', 'IdAlunoCurso', 'IdEventoTipoInscricao', 'RMOnline_TextoPersonalizado_Confirmacao', 'StProcessamento_FichaInscricao', 'StProcessamento_ConfirmacaoReservaOnline', 'StProcessamento_InscricaoEmTurma', 'NomeAbreviado', 'IdPai', 'IdMae', 'Naturalidade', 'Nacionalidade', 'TipoSangue', 'PlanoSaude', 'Alergia', 'Medicamento', 'IdEstabelecimentoEnsinoAnterior', 'IdReligiao', 'AnoConclusao', '_IdResponsavel_CadastroVinculado', 'EnsinoMedio_IdEstabelecimentoEnsino', 'EnsinoMedio_AnoConclusao', 'NomeCivil', 'IdTipoResponsavelPai', 'IdTipoResponsavelMae', 'Unnamed: 55', 'IdFaseNotaInicial_y'], axis=1, inplace=True)

In [66]:
df_alunos_merged

,IdAlunoRotinaEducacaoInfantil,IdAluno,IdTurma_x,Data,IdProfessorResponsavel,IdFormularioRotinaEducacaoInfantil,IdAlunoObs,IdTipoOcorrencia,StImpedimento,DataOcorrencia_x,IdUsuarioRegistro,ObservacaoRegistro,DataInclusao,StExibirInternet,IdResponsavel_x,IdTurma_y,IdSituacaoAlunoTurma_x,DataSituacaoAtivo,DataSituacaoInativo,OrdemChamada,DataHoraEfetivacaoMatricula,IdUsuarioEfetivacaoMatricula,ProblemaAutorizadoMatricula,IdUsuarioAutorizacaoMatricula,StAlunoTurmaNaoPermitePParcial,IdResponsavelFinanceiro,IdTipoResponsavelFinanceiro,IdMotivoInativacao,IdPlanoPagamento_Matricula,IdAlunoTurma,NomeAluno,IdUnidade,Sexo,EstadoCivil,DataNascimento,IdResponsavel_y,IdTipoResponsavel,CorRaca,StDeficienciaCegueira,StDeficienciaBaixaVisao,StDeficienciaSurdez,StDeficienciaAuditiva,StDeficienciaFisica,StDeficienciaSurdoCegueira,StDeficienciaMultipla,StDeficienciaMental,StFalecido,StDeficienciaAutismoInfantil,StDeficienciaSindromeAsperger,StDeficienciaSindromeRett,StDeficienciaTrastornoDesintegrativo,StDeficienciaAltasHabilidades,StAppComunicacao_Sincronizado,StRecursoAuxilioLedor,StRecursoAuxilioTranscricao,StRecursoGuiaInterprete,StRecursoTradutorInterpreteDeLibras,StRecursoLeituraLabial,StRecursoMaterialDidaticoProvaBraille,StRecursoProvaAmpliada,StRecursoProvaSuperampliada,StRecursoCdComAudio,StRecursoLinguaPortuguesaSegundaLingua,StRecursoProvaEmVideo,StPermiteUsoImagem,StEstrangeiro,DataOcorrencia_y,IdTurma,IdSituacaoAlunoTurma_y,IdUsuario
0,16139,727,231,2021-08-24 00:00:00,11.00,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,2023-05-15 17:09:00,False,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,1,2021-08-20 00:00:00,NaN,NaN,NaN,False,615.00,4.00,NaN,8.00,734,Aluno 724,1.00,M,5.00,2001-07-23 03:00:00,615.00,4,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2021-08-20 17:44:09.803000,231,1.00,15
1,16139,727,231,2021-08-24 00:00:00,11.00,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,2023-05-15 17:09:00,False,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,1,2021-08-20 00:00:00,NaN,NaN,NaN,False,615.00,4.00,NaN,8.00,734,Aluno 724,1.00,M,5.00,2001-07-23 03:00:00,615.00,4,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2021-09-22 12:25:38.363000,142,1.00,14
2,16139,727,231,2021-08-24 00:00:00,11.00,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,2023-05-15 17:09:00,False,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,1,2021-08-20 00:00:00,NaN,NaN,NaN,False,615.00,4.00,NaN,8.00,734,Aluno 724,1.00,M,5.00,2001-07-23 03:00:00,615.00,4,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2021-12-28 15:14:53.953000,142,9.00,15
3,16139,727,231,2021-08-24 00:00:00,11.00,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,2023-05-15 17:09:00,False,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,1,2021-08-20 00:00:00,NaN,NaN,NaN,False,615.00,4.00,NaN,8.00,734,Aluno 724,1.00,M,5.00,2001-07-23 03:00:00,615.00,4,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2021-12-28 15:21:27.383000,231,9.00,15
4,16139,727,231,2021-08-24 00:00:00,11.00,1,9789,21,False,2023-05-08 00:00:00,298,Seguem em atendimento psicologico,2023-05-15 17:09:00,False,615,231,9,2021-01-01 00:00:00,2021-12-31 00:00:00,1,2021-08-20 00:00:00,NaN,NaN,NaN,False,615.00,4.00,NaN,8.00,734,Aluno 724,1.00,M,5.00,2001-07-23 03:00:00,615.00,4,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2022-02-09 14:53:07.403000,198,1.00,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49084,118059,1310,505,2023-03-21 00:00:00,21.00,1,22845,32,False,2024-04-12 00:00:00,336,Iniciado a orienta√ß√£o de estudos. Foi realizad...,2024-04-14 23:43:00,False,1199,711,1,2024-01-01 00:00:00,NaN,4,2024-02-02 22:54:00,15.00,#MATRICULA_REPETIDA_MESMA_SERIE#,15.00,False,1199.00,3.00,NaN,11.00,11540,Aluno 1301,1.00,F,5.00,2001-10-15 00:00:00,1199.00,3,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2024-01-16 14:31:41.797000,597,9.00,15
49085,118059,1310,505,2023-03-21 00:00:00,21.00,1,22845,32,False,2024-04-12 00:00:00,336,Iniciado a orienta√ß√£o de estudos. Foi realizad...,2024-04-14 23:43:00,False,1199,711,1,2024-01-01 00:00:00,NaN,4,2024-02-02 22:54:00,15.00,#MATRICULA_REPETIDA_MESMA_SERIE#,15.00,False,1199.00,3.00,NaN,11.00,11540,Aluno 1301,1.00,F,5.00,2001-10-15 00:00:00,1199.00,3,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2024-01-16 14:35:21.527000,574,9.00,15
49086,118059,1310,505,2023-03-21 00:00:00,21.00,1,22845,32,False,2024-04-12 00:00:00,336,Iniciado a orienta√ß√£o de estudos. Foi realizad...,2024-04-14 23:43:00,False,1199,711,1,2024-01-01 00:00:00,NaN,4,2024-02-02 22:54:00,15.00,#MATRICULA_REPETIDA_MESMA_SERIE#,15.00,False,1199.00,3.00,NaN,11.00,11540,Aluno 1301,1.00,F,5.00,2001-10-15 00:00:00,1199.00,3,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2024-01-26 15:41:33.793000,662,1.00,297
49087,118059,1310,505,2023-03-21 00:00:00,21.00,1,22845,32,False,2024-04-12 00:00:00,336,Iniciado a orienta√ß√£o de estudos. Foi realizad...,2024-04-14 23:43:00,False,1199,711,1,2024-01-01 00:00:00,NaN,4,2024-02-02 22:54:00,15.00,#MATRICULA_REPETIDA_MESMA_SERIE#,15.00,False,1199.00,3.00,NaN,11.00,11540,Aluno 1301,1.00,F,5.00,2001-10-15 00:00:00,1199.00,3,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2024-01-26 15:42:12.230000,724,1.00,297
49088,118059,1310,505,2023-03-21 00:00:00,21.00,1,22845,32,False,2024-04-12 00:00:00,336,Iniciado a orienta√ß√£o de estudos. Foi realizad...,2024-04-14 23:43:00,False,1199,711,1,2024-01-01 00:00:00,NaN,4,2024-02-02 22:54:00,15.00,#MATRICULA_REPETIDA_MESMA_SERIE#,15.00,False,1199.00,3.00,NaN,11.00,11540,Aluno 1301,1.00,F,5.00,2001-10-15 00:00:00,1199.00,3,B,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2024-02-02 19:54:20.163000,711,1.00,15

In [69]:
df_alunos_merged.info(buf=None, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49089 entries, 0 to 49088
Data columns (total 70 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   IdAlunoRotinaEducacaoInfantil           49089 non-null  int64
 1   IdAluno                                 49089 non-null  int64
 2   IdTurma_x                               49089 non-null  int64
 3   Data                                    49089 non-null  object
 4   IdProfessorResponsavel                  49089 non-null  float64
 5   IdFormularioRotinaEducacaoInfantil      49089 non-null  int64
 6   IdAlunoObs                              49089 non-null  int64
 7   IdTipoOcorrencia                        49089 non-null  int64
 8   StImpedimento                           49089 non-null  bool
 9   DataOcorrencia_x                        49089 non-null  object
 10  IdUsuarioRegistro                       49089 non-null  int64
 11  ObservacaoRegistro                      49089 non-null  object
 12  DataInclusao                            49089 non-null  object
 13  StExibirInternet                        49089 non-null  bool
 14  IdResponsavel_x                         49089 non-null  int64
 15  IdTurma_y                               49089 non-null  int64
 16  IdSituacaoAlunoTurma_x                  49089 non-null  int64
 17  DataSituacaoAtivo                       49089 non-null  object
 18  DataSituacaoInativo                     45084 non-null  object
 19  OrdemChamada                            49089 non-null  int64
 20  DataHoraEfetivacaoMatricula             49089 non-null  object
 21  IdUsuarioEfetivacaoMatricula            27606 non-null  float64
 22  ProblemaAutorizadoMatricula             17995 non-null  object
 23  IdUsuarioAutorizacaoMatricula           11191 non-null  float64
 24  StAlunoTurmaNaoPermitePParcial          49089 non-null  bool
 25  IdResponsavelFinanceiro                 49089 non-null  float64
 26  IdTipoResponsavelFinanceiro             49089 non-null  float64
 27  IdMotivoInativacao                      1666 non-null   float64
 28  IdPlanoPagamento_Matricula              49089 non-null  float64
 29  IdAlunoTurma                            49089 non-null  int64
 30  NomeAluno                               49089 non-null  object
 31  IdUnidade                               49089 non-null  float64
 32  Sexo                                    49089 non-null  object
 33  EstadoCivil                             49089 non-null  float64
 34  DataNascimento                          49089 non-null  object
 35  IdResponsavel_y                         49089 non-null  float64
 36  IdTipoResponsavel                       49089 non-null  int64
 37  CorRaca                                 49089 non-null  object
 38  StDeficienciaCegueira                   49089 non-null  bool
 39  StDeficienciaBaixaVisao                 49089 non-null  bool
 40  StDeficienciaSurdez                     49089 non-null  bool
 41  StDeficienciaAuditiva                   49089 non-null  bool
 42  StDeficienciaFisica                     49089 non-null  bool
 43  StDeficienciaSurdoCegueira              49089 non-null  bool
 44  StDeficienciaMultipla                   49089 non-null  bool
 45  StDeficienciaMental                     49089 non-null  bool
 46  StFalecido                              49089 non-null  bool
 47  StDeficienciaAutismoInfantil            49089 non-null  bool
 48  StDeficienciaSindromeAsperger           49089 non-null  bool
 49  StDeficienciaSindromeRett               49089 non-null  bool
 50  StDeficienciaTrastornoDesintegrativo    49089 non-null  bool
 51  StDeficienciaAltasHabilidades           49089 non-null  bool
 52  StAppComunicacao_Sincronizado           49089 non-null  bool
 53  StRecursoAuxilioLedor                   49089 non-null  bool
 54  StRecursoAuxilioTranscricao             49089 non-null  bool
 55  StRecursoGuiaInterprete                 49089 non-null  bool
 56  StRecursoTradutorInterpreteDeLibras     49089 non-null  bool
 57  StRecursoLeituraLabial                  49089 non-null  bool
 58  StRecursoMaterialDidaticoProvaBraille   49089 non-null  bool
 59  StRecursoProvaAmpliada                  49089 non-null  bool
 60  StRecursoProvaSuperampliada             49089 non-null  bool
 61  StRecursoCdComAudio                     49089 non-null  bool
 62  StRecursoLinguaPortuguesaSegundaLingua  49089 non-null  bool
 63  StRecursoProvaEmVideo                   49089 non-null  bool
 64  StPermiteUsoImagem                      49089 non-null  bool
 65  StEstrangeiro                           49089 non-null  bool
 66  DataOcorrencia_y                        49089 non-null  object
 67  IdTurma                                 49089 non-null  int64
 68  IdSituacaoAlunoTurma_y                  41486 non-null  float64
 69  IdUsuario                               49089 non-null  int64
dtypes: bool(31), float64(11), int64(15), object(13)
memory usage: 16.1+ MB

In [70]:
# reorganiza a o dataframe com as colunas que ser√£o mantidas
df_alunos_merged = df_alunos_merged[['IdAluno', 'Sexo', 'EstadoCivil', 'DataNascimento', 'CorRaca', 'StFalecido', 'DataNascimento', 'CorRaca']]
df_alunos_merged

,IdAluno,Sexo,EstadoCivil,DataNascimento,CorRaca,StFalecido,DataNascimento,CorRaca
0,727,M,5.00,2001-07-23 03:00:00,B,False,2001-07-23 03:00:00,B
1,727,M,5.00,2001-07-23 03:00:00,B,False,2001-07-23 03:00:00,B
2,727,M,5.00,2001-07-23 03:00:00,B,False,2001-07-23 03:00:00,B
3,727,M,5.00,2001-07-23 03:00:00,B,False,2001-07-23 03:00:00,B
4,727,M,5.00,2001-07-23 03:00:00,B,False,2001-07-23 03:00:00,B
...,...,...,...,...,...,...,...,...
49084,1310,F,5.00,2001-10-15 00:00:00,B,False,2001-10-15 00:00:00,B
49085,1310,F,5.00,2001-10-15 00:00:00,B,False,2001-10-15 00:00:00,B
49086,1310,F,5.00,2001-10-15 00:00:00,B,False,2001-10-15 00:00:00,B
49087,1310,F,5.00,2001-10-15 00:00:00,B,False,2001-10-15 00:00:00,B
49088,1310,F,5.00,2001-10-15 00:00:00,B,False,2001-10-15 00:00:00,B

In [71]:
df_alunos_merged.info(buf=None, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49089 entries, 0 to 49088
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IdAluno         49089 non-null  int64
 1   Sexo            49089 non-null  object
 2   EstadoCivil     49089 non-null  float64
 3   DataNascimento  49089 non-null  object
 4   CorRaca         49089 non-null  object
 5   StFalecido      49089 non-null  bool
 6   DataNascimento  49089 non-null  object
 7   CorRaca         49089 non-null  object
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 2.7+ MB

In [75]:
df_alunos_merged.shape

(49089, 8)

In [76]:
# porcetagem de colunas nulas
df_alunos_merged.isnull().sum()/df_alunos_merged.shape[0]*100

IdAluno          0.00
Sexo             0.00
EstadoCivil      0.00
DataNascimento   0.00
CorRaca          0.00
StFalecido       0.00
DataNascimento   0.00
CorRaca          0.00
dtype: float64

#### 1.1.6 Tratamento da Base de `TbFase`

Essa base √© a jun√ß√£o das base `TbFaseNota`, `TbFaseNotaAluno` e `TbFaseNotaDisciplinaTurma` e `TbFaseNotaOrigemDestino`.

In [77]:
df_fase = pd.read_csv('bases_e_documental/Base de dados - Passos M√°gicos/TbFase/Merge/merged_data.csv', sep=',')
df_fase.head()

,IdFaseNotaDisciplinaTurma,IdTurma_x,IdFaseNota,IdDisciplina_x,ConteudoProgramatico,IdPeriodo,IdSerie,NumeroFase,NomeFase,CabecBoletim,ImprimirBoletimNotaParcial,ImprimirBoletimNPNaoConfirmada,ImprimirBoletimNota,ImprimirBoletimFaltas,StFaseInformada,StCalcularDisciplinaComposta,IdFormulaComposicaoNota,IdFormulaNota,MediaMinimaAprovacao,ValorArredondamentoMedia,IdFormulaAprovacao,IdFormulaFalta,IdFaseNotaAprovacao,IdFaseNotaReprovacao,DataInicioExibicao,NumeroOrdemExibicao,NumeroSemanasLetivas,StCalcularSituacaoGeral,IdFormulaAprovacaoFrequencia,ValorNotaMaxima,DataInicialPeriodoAula,DataFinalPeriodoAula,StCalcDiscCompUtilizaFormulaFN,DataLimiteDigitacaoNota,NumeroDiasLetivos,StDispensarNotaAutomatica,TipoDispensaAutomatica,StConfirmarDispensaAutomatica,SituacaoReprovadoFrequencia,SituacaoAprovado,SituacaoReprovado,StFaseNotaSempreCalcular,TipoInformada,StPermiteProfessorImportarPadraoAvaliacao,StPermiteProfessorInserirEditarAvaliacao,StPermiteProfessorInserirBloco,IdDisciplina_y,IdTurma_y,IdAluno,Nota01,Nota02,Nota03,Nota04,Nota05,Nota06,Nota07,Nota08,Nota09,Nota10,IdFormulaComposicao,StNotaConfirmada,NotaFase,Faltas,QuantAulasDadas,_Nota01,StNotaFaseExibirDisp,IdFaseNotaAluno
0,1,420,134,4,NaN,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,NaN,5.00,NaN,50.00,NaN,135.00,NaN,NaN,1,NaN,False,NaN,10.00,NaN,NaN,False,NaN,NaN,False,NaN,False,NaN,NaN,R,False,FormulaComposicao,True,True,True,4,410,657,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.00,True,8.00,0.00,NaN,NaN,False,3109
1,1,420,134,4,NaN,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,NaN,5.00,NaN,50.00,NaN,135.00,NaN,NaN,1,NaN,False,NaN,10.00,NaN,NaN,False,NaN,NaN,False,NaN,False,NaN,NaN,R,False,FormulaComposicao,True,True,True,4,410,661,8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.00,True,8.50,0.00,NaN,NaN,False,3110
2,1,420,134,4,NaN,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,NaN,5.00,NaN,50.00,NaN,135.00,NaN,NaN,1,NaN,False,NaN,10.00,NaN,NaN,False,NaN,NaN,False,NaN,False,NaN,NaN,R,False,FormulaComposicao,True,True,True,4,410,686,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.00,True,5.00,0.00,NaN,NaN,False,3111
3,1,420,134,4,NaN,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,NaN,5.00,NaN,50.00,NaN,135.00,NaN,NaN,1,NaN,False,NaN,10.00,NaN,NaN,False,NaN,NaN,False,NaN,False,NaN,NaN,R,False,FormulaComposicao,True,True,True,4,410,696,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.00,True,0.00,0.00,NaN,NaN,False,3112
4,1,420,134,4,NaN,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,NaN,5.00,NaN,50.00,NaN,135.00,NaN,NaN,1,NaN,False,NaN,10.00,NaN,NaN,False,NaN,NaN,False,NaN,False,NaN,NaN,R,False,FormulaComposicao,True,True,True,4,410,698,3.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.00,True,3.00,0.00,NaN,NaN,False,3113

In [78]:
df_fase.shape

(2254, 67)

In [79]:
df_fase.info(buf=None, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2254 entries, 0 to 2253
Data columns (total 67 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   IdFaseNotaDisciplinaTurma                  2254 non-null   int64
 1   IdTurma_x                                  2254 non-null   int64
 2   IdFaseNota                                 2254 non-null   int64
 3   IdDisciplina_x                             2254 non-null   int64
 4   ConteudoProgramatico                       1320 non-null   object
 5   IdPeriodo                                  2254 non-null   int64
 6   IdSerie                                    2254 non-null   int64
 7   NumeroFase                                 2254 non-null   int64
 8   NomeFase                                   2254 non-null   object
 9   CabecBoletim                               2254 non-null   object
 10  ImprimirBoletimNotaParcial                 2254 non-null   bool
 11  ImprimirBoletimNPNaoConfirmada             2254 non-null   bool
 12  ImprimirBoletimNota                        2254 non-null   bool
 13  ImprimirBoletimFaltas                      2254 non-null   bool
 14  StFaseInformada                            2254 non-null   bool
 15  StCalcularDisciplinaComposta               2254 non-null   bool
 16  IdFormulaComposicaoNota                    2254 non-null   float64
 17  IdFormulaNota                              0 non-null      float64
 18  MediaMinimaAprovacao                       2254 non-null   float64
 19  ValorArredondamentoMedia                   1320 non-null   float64
 20  IdFormulaAprovacao                         2254 non-null   float64
 21  IdFormulaFalta                             0 non-null      float64
 22  IdFaseNotaAprovacao                        2254 non-null   float64
 23  IdFaseNotaReprovacao                       1320 non-null   float64
 24  DataInicioExibicao                         0 non-null      float64
 25  NumeroOrdemExibicao                        2254 non-null   int64
 26  NumeroSemanasLetivas                       0 non-null      float64
 27  StCalcularSituacaoGeral                    2254 non-null   bool
 28  IdFormulaAprovacaoFrequencia               0 non-null      float64
 29  ValorNotaMaxima                            2254 non-null   float64
 30  DataInicialPeriodoAula                     0 non-null      float64
 31  DataFinalPeriodoAula                       0 non-null      float64
 32  StCalcDiscCompUtilizaFormulaFN             2254 non-null   bool
 33  DataLimiteDigitacaoNota                    0 non-null      float64
 34  NumeroDiasLetivos                          0 non-null      float64
 35  StDispensarNotaAutomatica                  2254 non-null   bool
 36  TipoDispensaAutomatica                     0 non-null      float64
 37  StConfirmarDispensaAutomatica              2254 non-null   bool
 38  SituacaoReprovadoFrequencia                0 non-null      float64
 39  SituacaoAprovado                           0 non-null      float64
 40  SituacaoReprovado                          934 non-null    object
 41  StFaseNotaSempreCalcular                   2254 non-null   bool
 42  TipoInformada                              2254 non-null   object
 43  StPermiteProfessorImportarPadraoAvaliacao  2254 non-null   bool
 44  StPermiteProfessorInserirEditarAvaliacao   2254 non-null   bool
 45  StPermiteProfessorInserirBloco             2254 non-null   bool
 46  IdDisciplina_y                             2254 non-null   int64
 47  IdTurma_y                                  2254 non-null   int64
 48  IdAluno                                    2254 non-null   int64
 49  Nota01                                     1557 non-null   float64
 50  Nota02                                     0 non-null      float64
 51  Nota03                                     0 non-null      float64
 52  Nota04                                     0 non-null      float64
 53  Nota05                                     0 non-null      float64
 54  Nota06                                     0 non-null      float64
 55  Nota07                                     0 non-null      float64
 56  Nota08                                     0 non-null      float64
 57  Nota09                                     0 non-null      float64
 58  Nota10                                     0 non-null      float64
 59  IdFormulaComposicao                        2254 non-null   float64
 60  StNotaConfirmada                           2254 non-null   bool
 61  NotaFase                                   1555 non-null   float64
 62  Faltas                                     2254 non-null   float64
 63  QuantAulasDadas                            175 non-null    float64
 64  _Nota01                                    0 non-null      float64
 65  StNotaFaseExibirDisp                       2254 non-null   bool
 66  IdFaseNotaAluno                            2254 non-null   int64
dtypes: bool(16), float64(34), int64(12), object(5)
memory usage: 933.4+ KB

In [81]:
# traz porcentagem de colunas nulas
df_fase.isnull().sum()/df_fase.shape[0]*100

IdFaseNotaDisciplinaTurma     0.00
IdTurma_x                     0.00
IdFaseNota                    0.00
IdDisciplina_x                0.00
ConteudoProgramatico         41.44
                             ...
Faltas                        0.00
QuantAulasDadas              92.24
_Nota01                     100.00
StNotaFaseExibirDisp          0.00
IdFaseNotaAluno               0.00
Length: 67, dtype: float64

In [84]:
df_fase.drop(['IdFormulaNota', 'IdFormulaFalta', 'DataInicioExibicao', 'NumeroSemanasLetivas', 'IdFormulaAprovacaoFrequencia', 'DataInicialPeriodoAula', 'DataFinalPeriodoAula', 'DataLimiteDigitacaoNota', 'NumeroDiasLetivos', 'TipoDispensaAutomatica', 'SituacaoReprovadoFrequencia', 'SituacaoAprovado', 'Nota01', 'Nota02', 'Nota03', 'Nota04', 'Nota05', 'Nota06', 'Nota07', 'Nota08', 'Nota09', 'Nota10', '_Nota01'], axis=1, inplace=True)
df_fase

,IdFaseNotaDisciplinaTurma,IdTurma_x,IdFaseNota,IdDisciplina_x,ConteudoProgramatico,IdPeriodo,IdSerie,NumeroFase,NomeFase,CabecBoletim,ImprimirBoletimNotaParcial,ImprimirBoletimNPNaoConfirmada,ImprimirBoletimNota,ImprimirBoletimFaltas,StFaseInformada,StCalcularDisciplinaComposta,IdFormulaComposicaoNota,MediaMinimaAprovacao,ValorArredondamentoMedia,IdFormulaAprovacao,IdFaseNotaAprovacao,IdFaseNotaReprovacao,NumeroOrdemExibicao,StCalcularSituacaoGeral,ValorNotaMaxima,StCalcDiscCompUtilizaFormulaFN,StDispensarNotaAutomatica,StConfirmarDispensaAutomatica,SituacaoReprovado,StFaseNotaSempreCalcular,TipoInformada,StPermiteProfessorImportarPadraoAvaliacao,StPermiteProfessorInserirEditarAvaliacao,StPermiteProfessorInserirBloco,IdDisciplina_y,IdTurma_y,IdAluno,IdFormulaComposicao,StNotaConfirmada,NotaFase,Faltas,QuantAulasDadas,StNotaFaseExibirDisp,IdFaseNotaAluno
0,1,420,134,4,NaN,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,5.00,NaN,50.00,135.00,NaN,1,False,10.00,False,False,False,R,False,FormulaComposicao,True,True,True,4,410,657,55.00,True,8.00,0.00,NaN,False,3109
1,1,420,134,4,NaN,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,5.00,NaN,50.00,135.00,NaN,1,False,10.00,False,False,False,R,False,FormulaComposicao,True,True,True,4,410,661,55.00,True,8.50,0.00,NaN,False,3110
2,1,420,134,4,NaN,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,5.00,NaN,50.00,135.00,NaN,1,False,10.00,False,False,False,R,False,FormulaComposicao,True,True,True,4,410,686,55.00,True,5.00,0.00,NaN,False,3111
3,1,420,134,4,NaN,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,5.00,NaN,50.00,135.00,NaN,1,False,10.00,False,False,False,R,False,FormulaComposicao,True,True,True,4,410,696,55.00,True,0.00,0.00,NaN,False,3112
4,1,420,134,4,NaN,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,5.00,NaN,50.00,135.00,NaN,1,False,10.00,False,False,False,R,False,FormulaComposicao,True,True,True,4,410,698,55.00,True,3.00,0.00,NaN,False,3113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2249,3,743,971,4,avalia√ß√£o diagn√≥stica,7,24,1,DIAGN√ìSTICA 1,D1,False,False,False,False,True,False,91.00,0.00,0.00,92.00,972.00,972.00,1,True,10.00,False,False,False,NaN,False,FormulaComposicao,False,False,False,5,655,2164,91.00,True,-101.00,0.00,NaN,True,214935
2250,3,743,971,4,avalia√ß√£o diagn√≥stica,7,24,1,DIAGN√ìSTICA 1,D1,False,False,False,False,True,False,91.00,0.00,0.00,92.00,972.00,972.00,1,True,10.00,False,False,False,NaN,False,FormulaComposicao,False,False,False,5,655,2173,91.00,True,-101.00,0.00,NaN,True,214944
2251,3,743,971,4,avalia√ß√£o diagn√≥stica,7,24,1,DIAGN√ìSTICA 1,D1,False,False,False,False,True,False,91.00,0.00,0.00,92.00,972.00,972.00,1,True,10.00,False,False,False,NaN,False,FormulaComposicao,False,False,False,5,744,468,91.00,True,6.00,0.00,NaN,False,215007
2252,3,743,971,4,avalia√ß√£o diagn√≥stica,7,24,1,DIAGN√ìSTICA 1,D1,False,False,False,False,True,False,91.00,0.00,0.00,92.00,972.00,972.00,1,True,10.00,False,False,False,NaN,False,FormulaComposicao,False,False,False,5,744,1396,91.00,True,3.00,0.00,NaN,False,215034
2253,3,743,971,4,avalia√ß√£o diagn√≥stica,7,24,1,DIAGN√ìSTICA 1,D1,False,False,False,False,True,False,91.00,0.00,0.00,92.00,972.00,972.00,1,True,10.00,False,False,False,NaN,False,FormulaComposicao,False,False,False,5,744,1533,91.00,True,3.50,0.00,NaN,False,215061

In [85]:
# traz porcentagem de colunas nulas
df_fase.isnull().sum()/df_fase.shape[0]*100

IdFaseNotaDisciplinaTurma                    0.00
IdTurma_x                                    0.00
IdFaseNota                                   0.00
IdDisciplina_x                               0.00
ConteudoProgramatico                        41.44
IdPeriodo                                    0.00
IdSerie                                      0.00
NumeroFase                                   0.00
NomeFase                                     0.00
CabecBoletim                                 0.00
ImprimirBoletimNotaParcial                   0.00
ImprimirBoletimNPNaoConfirmada               0.00
ImprimirBoletimNota                          0.00
ImprimirBoletimFaltas                        0.00
StFaseInformada                              0.00
StCalcularDisciplinaComposta                 0.00
IdFormulaComposicaoNota                      0.00
MediaMinimaAprovacao                         0.00
ValorArredondamentoMedia                    41.44
IdFormulaAprovacao                           0.00
IdFaseNotaAprovacao                          0.00
IdFaseNotaReprovacao                        41.44
NumeroOrdemExibicao                          0.00
StCalcularSituacaoGeral                      0.00
ValorNotaMaxima                              0.00
StCalcDiscCompUtilizaFormulaFN               0.00
StDispensarNotaAutomatica                    0.00
StConfirmarDispensaAutomatica                0.00
SituacaoReprovado                           58.56
StFaseNotaSempreCalcular                     0.00
TipoInformada                                0.00
StPermiteProfessorImportarPadraoAvaliacao    0.00
StPermiteProfessorInserirEditarAvaliacao     0.00
StPermiteProfessorInserirBloco               0.00
IdDisciplina_y                               0.00
IdTurma_y                                    0.00
IdAluno                                      0.00
IdFormulaComposicao                          0.00
StNotaConfirmada                             0.00
NotaFase                                    31.01
Faltas                                       0.00
QuantAulasDadas                             92.24
StNotaFaseExibirDisp                         0.00
IdFaseNotaAluno                              0.00
dtype: float64

In [86]:
# deleta qualquer coluna com valores nulos
df_fase.dropna(axis=1, inplace=True)

In [87]:
# traz porcentagem de colunas nulas
df_fase.isnull().sum()/df_fase.shape[0]*100

IdFaseNotaDisciplinaTurma                   0.00
IdTurma_x                                   0.00
IdFaseNota                                  0.00
IdDisciplina_x                              0.00
IdPeriodo                                   0.00
IdSerie                                     0.00
NumeroFase                                  0.00
NomeFase                                    0.00
CabecBoletim                                0.00
ImprimirBoletimNotaParcial                  0.00
ImprimirBoletimNPNaoConfirmada              0.00
ImprimirBoletimNota                         0.00
ImprimirBoletimFaltas                       0.00
StFaseInformada                             0.00
StCalcularDisciplinaComposta                0.00
IdFormulaComposicaoNota                     0.00
MediaMinimaAprovacao                        0.00
IdFormulaAprovacao                          0.00
IdFaseNotaAprovacao                         0.00
NumeroOrdemExibicao                         0.00
StCalcularSituacaoGeral                     0.00
ValorNotaMaxima                             0.00
StCalcDiscCompUtilizaFormulaFN              0.00
StDispensarNotaAutomatica                   0.00
StConfirmarDispensaAutomatica               0.00
StFaseNotaSempreCalcular                    0.00
TipoInformada                               0.00
StPermiteProfessorImportarPadraoAvaliacao   0.00
StPermiteProfessorInserirEditarAvaliacao    0.00
StPermiteProfessorInserirBloco              0.00
IdDisciplina_y                              0.00
IdTurma_y                                   0.00
IdAluno                                     0.00
IdFormulaComposicao                         0.00
StNotaConfirmada                            0.00
Faltas                                      0.00
StNotaFaseExibirDisp                        0.00
IdFaseNotaAluno                             0.00
dtype: float64

In [88]:
df_fase

,IdFaseNotaDisciplinaTurma,IdTurma_x,IdFaseNota,IdDisciplina_x,IdPeriodo,IdSerie,NumeroFase,NomeFase,CabecBoletim,ImprimirBoletimNotaParcial,ImprimirBoletimNPNaoConfirmada,ImprimirBoletimNota,ImprimirBoletimFaltas,StFaseInformada,StCalcularDisciplinaComposta,IdFormulaComposicaoNota,MediaMinimaAprovacao,IdFormulaAprovacao,IdFaseNotaAprovacao,NumeroOrdemExibicao,StCalcularSituacaoGeral,ValorNotaMaxima,StCalcDiscCompUtilizaFormulaFN,StDispensarNotaAutomatica,StConfirmarDispensaAutomatica,StFaseNotaSempreCalcular,TipoInformada,StPermiteProfessorImportarPadraoAvaliacao,StPermiteProfessorInserirEditarAvaliacao,StPermiteProfessorInserirBloco,IdDisciplina_y,IdTurma_y,IdAluno,IdFormulaComposicao,StNotaConfirmada,Faltas,StNotaFaseExibirDisp,IdFaseNotaAluno
0,1,420,134,4,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,5.00,50.00,135.00,1,False,10.00,False,False,False,False,FormulaComposicao,True,True,True,4,410,657,55.00,True,0.00,False,3109
1,1,420,134,4,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,5.00,50.00,135.00,1,False,10.00,False,False,False,False,FormulaComposicao,True,True,True,4,410,661,55.00,True,0.00,False,3110
2,1,420,134,4,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,5.00,50.00,135.00,1,False,10.00,False,False,False,False,FormulaComposicao,True,True,True,4,410,686,55.00,True,0.00,False,3111
3,1,420,134,4,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,5.00,50.00,135.00,1,False,10.00,False,False,False,False,FormulaComposicao,True,True,True,4,410,696,55.00,True,0.00,False,3112
4,1,420,134,4,5,2,1,DIAGNOSTICA 1,DIG1,False,False,False,False,True,False,55.00,5.00,50.00,135.00,1,False,10.00,False,False,False,False,FormulaComposicao,True,True,True,4,410,698,55.00,True,0.00,False,3113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2249,3,743,971,4,7,24,1,DIAGN√ìSTICA 1,D1,False,False,False,False,True,False,91.00,0.00,92.00,972.00,1,True,10.00,False,False,False,False,FormulaComposicao,False,False,False,5,655,2164,91.00,True,0.00,True,214935
2250,3,743,971,4,7,24,1,DIAGN√ìSTICA 1,D1,False,False,False,False,True,False,91.00,0.00,92.00,972.00,1,True,10.00,False,False,False,False,FormulaComposicao,False,False,False,5,655,2173,91.00,True,0.00,True,214944
2251,3,743,971,4,7,24,1,DIAGN√ìSTICA 1,D1,False,False,False,False,True,False,91.00,0.00,92.00,972.00,1,True,10.00,False,False,False,False,FormulaComposicao,False,False,False,5,744,468,91.00,True,0.00,False,215007
2252,3,743,971,4,7,24,1,DIAGN√ìSTICA 1,D1,False,False,False,False,True,False,91.00,0.00,92.00,972.00,1,True,10.00,False,False,False,False,FormulaComposicao,False,False,False,5,744,1396,91.00,True,0.00,False,215034
2253,3,743,971,4,7,24,1,DIAGN√ìSTICA 1,D1,False,False,False,False,True,False,91.00,0.00,92.00,972.00,1,True,10.00,False,False,False,False,FormulaComposicao,False,False,False,5,744,1533,91.00,True,0.00,False,215061

### Miss√£o da ONG
- Transformar vidas atrav√©s da educa√ß√£o.

### Vis√£o da ONG
- √â viver em um Brasil no qual todas as crian√ßas e jovens t√™m iguais oportunidades para realizarem seus sonhos e s√£o agentes transformadores de suas pr√≥prias vidas.

### Valores da ONG

- Empatia
- Amor ao aprendizado
- Poder em acreditar em si e no pr√≥ximo
- Pertencimento
- Gratid√£
- Busca pelo saber
- Educa√ß√£o que transforma e ajuda e transformar
- Aprender a aprender

A ONG foca, n√£o somente na estrutura necess√°ria para a educa√ß√£o de crian√ßas em vulnerabilidade como tamb√©m no apoio ao entorno desta crian√ßa, buscando proporcionar melhoria de vida e oportunidades tamb√©m para a fam√≠lia.

O projeto **Passos M√°gicos** atrav√©s de suas interven√ß√µes na comunidade que atende, conseguiu cobrir 5 dos 17 compromissos propostos pela [ONU para a Agenda 2030](https://www.globalgoals.org/take-action/?id=4):

- **ODS 1**: Erradica√ß√£o da pobreza
- **ODS 4**: Educa√ß√£o de qualidade
- **ODS 5**: Igualdade de g√™nero
- **ODS 8:** Trabalho decente e crescimento econ√¥mico
- **ODS 10**: Redu√ß√£o das desigualdades